<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<ng-container *ngIf="!currentPlayer, else isLoggedIn">
  <div class="pt-1 bt" mat-dialog-content>
    <div class="mat-body-1 mb-1">{{ 'Password_change.Not_logged_in_message' | translate }}</div>
    <div class="mat-body-1 p-1 info-area" role="alert">
      {{ 'Password_change.Not_logged_in_alert' | translate }}
    </div>
    <div class="pt-1 pb-1" *ngIf="!currentPlayer">
      <form [formGroup]="playerLoginFormGroup" role="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'Password_change.Player_login' | translate }}</mat-label>
          <input [disabled]="currentPlayer" matInput formControlName="playerLogin" name="playerLogin" type="text" aria-describedby="Player login name">
          <mat-hint class="mb-1">{{ 'Password_change.Player_login_error_message' | translate }}</mat-hint>
        </mat-form-field>
        <button class="full-width mt-05 mb-05" mat-raised-button [disabled]="loading || this.playerLoginFormGroup.invalid" type="button" color="primary" (click)="requestPasswordChange()">
          {{ 'Password_change.Request_password_change' | translate }}
        </button>
      </form>
    </div>
  </div>
</ng-container>
  
<ng-template #isLoggedIn>
  <mat-card>
    <div>
      <div class="mat-title">{{ 'Password_change.Request_password_change' | translate }}</div>
    </div>
    <div class="mat-body-1 p-1 info-area">
      {{ 'Password_change.Logged_in_alert' | translate }} {{ this.currentPlayer.nickname }}.
    </div>
    <button class="full-width mt-05" mat-raised-button [disabled]="loading || this.playerLoginFormGroup.invalid" type="button" color="primary" (click)="requestPasswordChange()">
      {{ 'Password_change.Request_password_change' | translate }}
    </button>
  </mat-card>
</ng-template>
