<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<form [formGroup]="maxSessionTimeForm">
  <mat-card class="mb-1 p-0" class="mat-elevation-z0">
    <div>
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Session_limit_view.Max_session_time' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.maxSessionTime }} {{ 'Profile.Session_limit_view.Minutes' | translate }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.maxSessionTime !== playerLimits?.maxSessionTime}" appearance="outline">
        <mat-label>{{ 'Profile.Session_limit_view.New_max_session_time_limit' | translate }}</mat-label>
        <input matInput formControlName="maxSessionTime" type="number" (keypress)="numericOnly($event)" aria-describedby="New max session time">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.maxSessionTime !== playerLimits?.maxSessionTime">
          {{ 'Profile.Session_limit_view.Pending' | translate }} {{ pendingPlayerLimits?.maxSessionTime !== playerLimits?.maxSessionTime ? pendingPlayerLimits?.maxSessionTime : '-' }} {{ 'Profile.Session_limit_view.Minutes' | translate }}
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="pt-1 bt" fxLayout="row nowrap" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" type="submit" (click)="submitMaxSessionTime()" [disabled]="!maxSessionTimeForm.dirty || !maxSessionTimeForm.valid">{{ 'Profile.Session_limit_view.Save_new_limits' | translate }}</button>
    </div>
  </mat-card>
</form>
