app-not-found {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .support .content .nav a {
    margin: 0px 78px 16px 40px;
  }

  .container {
    max-width: 1170px;
  }

  .content .nav a {
    margin: 0px 56px 4px 19px;
  }
}

@media (max-width: 1199px) {
  .support {
    .content {
      padding-bottom: 50px;
      .nav {
        a {
          padding-left: 49px;
          margin: 0px 48px 16px 9px;
        }
      }
    }
  }

  .content {
    .nav {
      a {
        margin: 0px -4px 4px 38px;
        &:after {
          width: 207px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .content {
    .nav {
      a {
        margin: 0px 1px 4px 5px;
        padding-left: 32px;
        &:after {
          width: 205px;
          left: 33px;
        }
      }
    }
  }

  header .account form input {
    display: none!important;
  }

  .support .content .nav a {
    padding-left: 32px;
    margin: 0px 35px 0px 6px;
  }

  .support .content .nav a:after {
    bottom: 0;
    width: 182px;
  }

  .content .row .wrap {
    padding: 0;
  }

  .wrapper-menu {
    padding: 0;
  }

  .content {
    padding-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .support {
    .content {
      padding-top: 17px;
      padding-bottom: 10px;
      .tab-content {
        padding: 23px 20px 25px;
        .block-left {
          padding: 0;
          margin: 0;
        }
      }
      .nav {
        a {
          font-size: 18px;
          padding-left: 42px;
          margin: 0px 39px 0px 42px;
          &:after {
            left: 2px;
            bottom: 2px;
            width: 309px;
          }
          &:before {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: none;
            border-top: 10px solid #d0d0d0;
          }
        }
      }
    }
  }



  .content {
    .wrap {
      margin: 0 auto;
      height: auto;
      //height: 100%;
      overflow: hidden;

    }
    .nav {
      padding-top: 0;
      padding-right: 0;
      .nav-link.active:before {
        border-top: 10px solid #4484bd;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
      .nav-link.active.red:before {
        border-top: 10px solid #ec595c;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
      a {
        font-size: 18px;
        padding-left: 42px;
        margin: 0px 25px 0px 25px;
        &:before {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: none;
          border-top: 10px solid #d0d0d0;
        }
        &:after {
          left: 2px;
          bottom: 2px;
          width: 329px;
        }
        &:hover:before {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: none;
          border-top: 10px solid #4484bd;
        }
        &.red:hover:before {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: none;
          border-top: 10px solid #ec595c;
        }
      }
    }
  }

  .wrapper-menu {
    display: none;
  }

  .h3, h3 {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .nsm-dialog{
    max-width: 100%;
  }
  .nsm-content{
    .container--btn{
      flex-flow: column;
      .btn{
        margin: 7px 0;
      }
    }
  }
  ul{
    text-align: left;
  }

  .content {
    .tab-content {
      padding: 20px 15px 25px;
    }
    .container {
      & > .row {
        width: 100%;
        margin: 0;
      }
    }
    .nav {
      margin: 0 auto;
      width: 290px;
      a {
        font-size: 16px;
        padding-left: 25px;
        margin: 0;
        &:after {
          width: 286px;
        }
      }
    }
  }

  .support {
    .content {
      padding-top: 9px;
      .nav {
        a:after {
          width: 298px;
        }
      }
      .container > .row {
        width: 100%;
        margin: 0 auto;
      }
      .tab-content {
        padding: 20px 15px 0px;
        text-align: center;
      }
      .nav {
        margin: 0 auto;
        width: 290px;
        a {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }

  .bg-top {
    height: 315px;
  }

  h3, .h3 {
    font-size: 30px;
  }

  .h3, h3 {
    font-size: 26px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    width: 100%;
  }

  .h3, h3 {
    font-size: 20px;
  }
}

@media (max-width: 470px) {
  .support .content .nav a:before {
    right: -2px;
  }

  .support .content .nav a:after {
    width: 289px;
  }
}
