// Copyright 2021 Bejoynd AB, Licensed under Apache-2.0
app-view-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-dialog {
  mat-dialog-container {
    padding: 0px !important;
    border-radius: 0px !important;

    .mat-dialog-content {
      max-height: calc(100vh - 64px);
      margin: 0 0;
    }
  }
}

.cdk-global-overlay-wrapper {
  justify-content: flex-end !important;
}

.bet-slip-panel {
  padding: 0 !important;
}

.small-input {
  max-width: 64px;
}

.no-scrolling {
  overflow: hidden;
}

.center-content {
  padding-left: 276px !important;
  transition: all 0.3s ease-out;
}

.full-width-center {
  padding-left: 0px !important;
  transition: all 0.3s ease-out;
}

.cdk-scrolling-content {
  height: calc(100vh - 80px);
  overflow: auto;

  .cdk-scrolling-spinner-item {
    display: grid;
    place-items: center;
    margin-top: 10px;
  }
}

.cdk-global-scrollblock {
  position: static !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;

  .drawer {
    position: fixed;
    height: 100vh;
  }

  .mat-drawer-backdrop {
    height: 100% !important;
    position: fixed !important;
  }

  .main {
    &.header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 4;
    }

    &.contents {
      min-height: calc(100vh - 208px);
      margin-top: 208px;
    }

    &.casino-contents {
      min-height: calc(100vh - 168px);
      margin-top: 168px;
    }

    &.fullscreen-dialog-contents {
      min-height: calc(100vh - 128px);

      &.login-registration {
        max-width: 768px;
        margin: 128px auto 0;
      }
    }

    .search-bar {
      position: fixed;
      top: 168px;
      z-index: 3;
    }
  }
}

.max-width-large-screens {
  max-width: 1364px !important;
  margin: 0 auto !important;
}

.icon-top-navigation {
  overflow-x: auto;
}

.grid-list-card {
  width: 100%;
  height: 100%;

  .widget-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.widget-grid-tile {
  border-radius: 4px;
  overflow-y: auto !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px !important;
}

button:focus {
  outline: none;
}

.special-toggle {
  display: block !important;

  .mat-button-toggle-label-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.portal-logo {
  max-height: 40px;
  max-width: 50vw;
}

app-shared-header {
  width: 100%;
  display: flex;

  .portal-logo {
    max-height: 40px;
    max-width: 50vw;
  }
}

app-shared-main-menu {
  .portal-logo {
    max-height: 40px;
    max-width: 50vw;
  }
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Context sub nav */
nav.mat-tab-nav-bar {
  &.desktop-nav {
    width: calc(100% - 72px);
  }

  width: 100%;
  border-bottom: none !important;
  height: 64px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: transition(7s width ease-in-out);

  a[mat-tab-link] {
    height: 64px;
    min-width: auto;
    flex: 0 0 1;
    text-decoration: none;
  }

  .mat-tab-links {
    justify-content: center;
  }

  .mat-ink-bar {
    display: none !important;
  }
}

.vw-100 {
  width: 100vw;
}

.full-width {
  width: 100%;
}

.match-item-info {
  min-width: 70px;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.account-button {
  text-align: center;
  border: none;
}

.mat-nav-list.mat-list-base {
    padding-top: 0 !important;
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  display: none;

  .submenu-item {
      width: auto !important;
  }
}

.submenu2 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  display: none;

  .submenu-item2 {
      width:auto !important;
      padding-left: 32px !important;
  }
}

.submenu.expanded {
  transform: scaleY(1);
  display: block;
}

.submenu2.expanded {
  transform: scaleY(1);
  display: block;
}

.search-bar {
  height: 40px;

  .sports-menu-toogle-block {
    width: 40px;
    height: 40px;
  }

  .search-input {
    background: transparent;
    border: none;
    height: 40px;
  }
}

.match-item-lobby-widget {
  &:last-child {
    border-bottom: none !important;
  }
}

.truncated-flex-item {
  -moz-box-flex: 1;       /* Mozilla */
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 0;
}

.progress-on-top {
  position: absolute !important;
}

.fixture-counter {
  border-radius: 4px;
  padding: 4px 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
}

.widget-tab-group {
  min-height: calc(100% - 64px);

  .mat-tab-body-wrapper {
    flex: 1;

    .centering-spinner {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;
}



.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 1rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.m-05 {
  margin: 0.5rem !important;
}
.mr-05 {
  margin-right: 0.5rem !important;
}
.ml-05 {
  margin-left: 0.5rem !important;
}
.mt-105 {
  margin-top: 1.5rem !important;
}
.mt-05 {
  margin-top: 0.5rem !important;
}
.mb-05 {
  margin-bottom: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mb-05 {
  margin-bottom: .5rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-07{
  padding-bottom:0.7rem;
}
.p-105 {
  padding: 1.5rem !important;
}
.pt-105 {
  padding-top: 1.5rem !important;
}
.pl-105 {
  padding-left: 1.5rem !important;
}
.p-05 {
  padding: .5rem !important;
}
.pl-05 {
  padding-left: .5rem !important;
}
.pr-05 {
  padding-right: .5rem !important;
}
.pt-05 {
  padding-top: .5rem !important;
}
.pb-05 {
  padding-bottom: .5rem !important;
}
.pr-15 {
  padding-right: 1.5rem !important;
}
.pb-15 {
  padding-bottom: 1.5rem !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-05 {
  padding-left: .5rem !important;
}
.pt-05 {
  padding-top: .5rem !important;
}
.pb-05 {
  padding-bottom: .5rem !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 1rem !important;
}

.h-100 {
  height: 100%;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.mat-icon {
  svg {
    vertical-align: 0 !important;
  }
}