// Copyright 2021 Bejoynd AB, Licensed under Apache-2.0
.mat-drawer {
  .mat-drawer-inner-container {
    width: 312px;
  }
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}
