.modal-game {
  .nsm-dialog {
    min-width: auto;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    display: flex;
  }

  .nsm-body{
    background-image: linear-gradient(to right, #222d49, #253458, #293b67, #2c4277, #304987, #2f4885, #2d4684, #2c4582, #253a6e, #1e305b, #172649, #111c37);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nsm-content {
    padding: 0;
    width: 100vw;
    height: calc(100vh - 36px);
    margin: 36px 0 0;
    border-radius: 0;
  }

  .nsm-dialog-btn-close {
    color: #fff !important;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 24px;
    background: rgba(255,255,255,0.6);

    img{
      display:block;
      margin:12px 8px;
    }

    &:hover{
      background: rgba(255,255,255,0.8);
    }
  }

  #the-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8ZmlsdGVyIGlkPSJibHVyIj4gICAgPGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iNSIvPiAgPC9maWx0ZXI+PC9zdmc+);
  }
}
