span, p, input, div, a, li {
  font-family: 'Roboto', sans-serif;
}

.alert-secondary{
  background-color: @ch-lightgray !important;
  border: 1px solid #ebebeb;
}

.badge {
  padding: 0.4em 0.8em;
  font-size: 85%;
}

// Casino house special

.ch-darkblue{
  background-color: @ch-darkblue;
  color: @ch-white;
}

.ch-marineblue{
  background-color: @ch-marineblue;
  color: @ch-white;
}

.ch-orange{
  background-color: @ch-orange;
  color: @ch-white;
}

.ch-yellow{
  background-color: @ch-yellow;
  color: @ch-white;
}

.navbar.navbar-collapse.show {
  height: auto !important;
}

a.btn{
  &.ch-yellow{
    &:hover{
      color: @ch-darkblue !important;
    }
  }

  &.ch-orange{
    &:hover{
      color: @ch-white !important;
    }
  }

  &.ch-marineblue{
    &:hover{
      color: @ch-white !important;
    }
  }
}

.navbar{
  height:64px;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  padding: 0;
  min-height: 100%;
  position: relative;
  font-size:14px !important;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

.flex-justify-between{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mb-0{
  margin-bottom: 0;
}

.btn-regular{
  font-weight: 400;
}
.btn-sm{
  padding: 4px 12px;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.invalid-feedback {
  padding-left: 10px;
}

.form-control {
  font-size: 16px;
  height: auto;
  border-radius: 10px;
  color: #2a2a2a;
  outline: none;
  line-height: initial;
  padding: 12px;
  margin-bottom: 10px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    border: 1px solid @ch-orange;
    background-color: @ch-white;
  }
}
input[type=radio]{
  width: 0;
  position: absolute;
  opacity: 0;
}
input[type=radio]+label {
  position: relative;
  padding: 0 0 0 23px;
  display: inline-block;
  cursor: pointer;
  &:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: @ch-white;
    top: 3px;
    left: 1px;
    box-shadow: #4484bd 0 0 0 2px;
    border-radius: 50%;
    border: 2px solid @ch-white;
    transition: all 0.3s;
  }
}
input[type=radio]:checked+label:after {
  background-color: #4484bd;
}
.form-control:focus {
  box-shadow: none;
  color: #2a2a2a;
  background-color: @ch-white;
  border-color: #a8a8a8;
}

.bg-input {
  background-color: @bg-white;
}

a, button {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h3, .h3 {
  font-size: 24px;
  font-weight: 400;
}

h4, .h4 {
  font-size: 18px;
  font-weight: 400;
}

h5, .h5 {
  font-size: 16px;
}
h6, .h6 {
  font-size: 12px;
  text-transform: inherit;
}
p {
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

ul {
  li{
    margin: 10px 0;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

.none {
  display: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder {
  color: #bbbbbb;
}

input::-moz-placeholder {
  color: #bbbbbb;
}

input:-moz-placeholder {
  color: #bbbbbb;
}

input:-ms-input-placeholder {
  color: #bbbbbb;
}

textarea::-webkit-input-placeholder {
  color: #bbbbbb;
}

textarea::-moz-placeholder {
  color: #bbbbbb;
}

textarea:-moz-placeholder {
  color: #bbbbbb;
}

textarea:-ms-input-placeholder {
  color: #bbbbbb;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

label.error {
  display: block;
  text-align: center;
}

.nsm-content{
  margin-left: auto;
  margin-right: auto;
}

.terms-modal{
  .nsm-dialog {
    max-width: 768px !important;

    .nsm-content {
      margin: auto !important;
      max-height:100vh !important;
      overflow: auto !important;
    }
  }
}

element:hover, element:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none /*only to disable context menu on long press*/
}

.search {
  input {
    font-size: 14px;
    width: 200px;
  }
}

.support {
  display: none;
}

.blur-block {
  filter: blur(20px);
}

.row-align-center{
  align-items: center;
}
.owl-carousel {
  & .owl-nav [class*=owl-]:hover{
    background: transparent!important;
  }
  & .owl-next [class*=owl-]:hover{
    background: transparent!important;
  }
  .owl-nav{
    margin: 0!important;
  }
  .owl-next, .owl-prev{
    position: absolute;
  }
  .owl-prev{
    border-right: 15px solid #4484bd!important;
    border-top: 9px solid transparent!important;
    border-bottom: 9px solid transparent!important;
    display: block;
    margin: 0!important;
    top: 49%;
    left: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    span{
      display: none!important;
    }
  }
  .owl-next{
    margin: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 49%;
    right: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 15px solid #4484bd!important;
    border-top: 9px solid transparent!important;
    border-bottom: 9px solid transparent!important;
    span{
      display: none!important;
    }
  }
}

.wrapper-menu .owl-stage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
}

.alert-secondary{
  background-color: @ch-lightgray !important;
  border: 1px solid #ebebeb;
}

.badge {
  padding: 0.4em 0.8em;
  font-size: 85%;
}
