<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->

<button class="mr-1" mat-icon-button (click)="mainMenuDrawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>
<img *ngIf="!isMobile && !mobileQuery.matches" (click)="mainMenuDrawer.toggle()" class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
<span class="toolbar-spacer toolbar-title" *ngIf="isMobile || mobileQuery.matches">{{ 'Header.Sports' | translate }}</span>
<span *ngIf="isDesktop || isTablet" class="toolbar-spacer my-toolbar-title"></span>
<div>
  <div [@fadeIn] *ngIf="currentUser" fxLayout="row nowrap" fxLayoutAlign="end center">
    <button mat-raised-button color="accent" (click)="accountDrawer.toggle()">
      {{ +currentUser.total_balance + +currentUser.bonus_balance | number: '.2' }} {{ currentUser.currency }}
      <mat-icon class="ml-2">person</mat-icon>
    </button>
  </div>
  <div *ngIf="!currentUser" fxLayout="row nowrap" fxLayoutAlign="end center">
    <button class="mr-05 ml-1" mat-raised-button color="accent"  (click)="openRegistrationDialog()">
      {{ 'Header.Registration' | translate }}
    </button>
    <button class="ml-05" mat-button (click)="openLoginDialog()">
      {{ 'Header.Login' | translate }}
    </button>
  </div>
</div>