@import '../../../styles/_variables.less';

.not-found {
  flex-grow: 1;
  background-size: cover !important;
  background-image: url('../../../assets/images/bg-page-not-found.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found {
  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    color: @ch-white;
  }

  &--title {
    font-size: 50px;
    letter-spacing: 1.4;
  }

  &--txt {
    font-size: 18px;
  }

  &--container-btn {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .image-area {
    display:none;
  }

  .not-found {
    &--title {
      text-align:center;
    }

    &--txt {
      text-align:center;
    }
    &--container-btn{
      text-align:center;
    }
  }
}
