<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="not-found">
  <div class="not-found--container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!-- <h2 class="not-found--title"> In the original the heading was able to type in the CMS
            {{ data.title }} Oooops!
          </h2> -->
          <h2 class="not-found--title">
            {{ 'Not_found.Oops' | translate }}
          </h2>
          <div class="not-found--txt">{{ 'Not_found.Not_found_text' | translate }}</div>
          <!-- <div class="not-found--txt" [innerHTML]="data.content"></div> In the original the 404 page text was able to type in the CMS
          -->
          <div class="not-found--container-btn">
            <a class="btn ch-orange btn-lg" routerLink="/">{{ 'Not_found.To_homepage' | translate }}</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 image-area">
          <img src="assets/images/slot_machine.png" />
        </div>
      </div>
    </div>
  </div>
</div>
