@import '../../../../styles/_variables.less';

.reality-check-snackbar{
  position:fixed;
  left:0;
  right:0;
  background-color:@ch-lightgray;
  -webkit-box-shadow: 0px -6px 6px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px -6px 6px 2px rgba(0,0,0,0.12);
  box-shadow: 0px -6px 6px 2px rgba(0,0,0,0.12);
  transition: bottom 0.5s linear;
  z-index: 1050;
   &.show{
    bottom:0;
   }
   &.hide{
    bottom:-200px;
   }
}

@media (max-width: 576px) {
  .col-sm-12 {
    text-align:center;
  }
}
