<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div [ngClass]="{'hide': !showRealityCheck, 'show': showRealityCheck}" class="reality-check-snackbar pt-3">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8 col-sm-12 d-flex align-items-center pb-3">
        <span *ngIf="resultPlaying >= 0">{{ 'Reality_check.Rc_text1' | translate }} {{ timeLoggedIn.format('HH') }} {{ 'Reality_check.Rc_text2' | translate }} {{ timeLoggedIn.format('mm') }} {{ 'Reality_check.Rc_text_won' | translate }} {{ resultPlaying }} {{ playerCurrency }}.</span>
        <span *ngIf="resultPlaying < 0">{{ 'Reality_check.Rc_text1' | translate }} {{ timeLoggedIn.format('HH') }} {{ 'Reality_check.Rc_text2' | translate }} {{ timeLoggedIn.format('mm') }} {{ 'Reality_check.Rc_text_lost' | translate }} {{ resultPlaying }} {{ playerCurrency }}.</span>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center pb-3">
        <button (click)="closeRealityCheck()" class="ml-2 btn btn-secondary btn-regular">{{ 'General.Close' | translate }}</button>
        <button (click)="logout()" class="ml-2 btn ch-orange btn-regular">{{ 'Reality_check.Logout' | translate }}</button>
      </div>
    </div>
  </div>
</div>
