<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container" [class.is-mobile]="isMobile || isTablet || mobileQuery.matches">
  <mat-drawer-container class="app-container">
    <mat-drawer class="main-drawer" role="navigation" mode="over" #mainMenuDrawer position="start">
      <div class="contents">
        <app-shared-main-menu></app-shared-main-menu>
      </div>
    </mat-drawer>

    <mat-drawer class="account-drawer" [ngClass]="{'vw-100': isMobile}" role="region" mode="over" #accountDrawer position="end">
      <div class="contents">
        <app-shared-account [accountDrawer]="accountDrawer"></app-shared-account>
      </div>
    </mat-drawer>
    
    <mat-drawer-content>
      <div class="main header">
        <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
        <mat-toolbar color="primary" class="app-top-toolbar mat-elevation-z4">
          <mat-toolbar-row>
            <app-shared-header [mainMenuDrawer]="mainMenuDrawer" [accountDrawer]="accountDrawer"></app-shared-header>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <app-sportsbook-sports-context-menu [sportsMenu]="sportsMenu" [accountDrawer]="accountDrawer" class="full-width"></app-sportsbook-sports-context-menu>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div class="main contents">
        <mat-drawer-container class="full-width">
          <mat-drawer class="mat-context-inner-drawer sports-drawer"
            role="navigation"
            mode="side"
            #sportsMenu
            position="start"
            [mode]="isMobile || isTablet || mobileQuery.matches ? 'over' : 'side'"
            [opened]="isMobile || isTablet || mobileQuery.matches ? 'false' : 'true'">
            <app-sportsbook-sports-menu [sportsMenu]="sportsMenu"></app-sportsbook-sports-menu>
          </mat-drawer>
          <mat-drawer-content role="main">
            <div class="search-bar full-width mat-elevation-z2" fxLayout="row wrap" fxLayoutAlign="start center">
              <div class="sports-menu-toogle-block">
                <button (click)="sportsMenu.toggle()" mat-icon-button><mat-icon>sort</mat-icon></button>
              </div>
              <form fxFlex class="mr-1 ml-1">
                <input
                  class="search-input"
                  fxFlex
                  type="text"
                  placeholder="Search for sports, leagues or team"
                  [formControl]="control"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let sport of filteredSports | async" [value]="sport">
                    {{ sport }}
                  </mat-option>
                </mat-autocomplete>
              </form>
            </div>
            <!-- Sportsbook content area -->
            <ng-container *ngIf="!routerOutletActive">
              <app-sportsbook-sports-lobby class="full-width-height"></app-sportsbook-sports-lobby>
            </ng-container>
            <router-outlet (activate)="onActivate()" (deactivate)="onDeactivate()"></router-outlet>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>
      <footer class="md-padding">
        <app-shared-footer [sportsMenu]="sportsMenu"></app-shared-footer>
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>