// Copyright 2021 Bejoynd AB, Licensed under Apache-2.0
ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
  
  li {
    padding-bottom: 1.2rem;
    font-weight: 700;
    font-size: 1.2rem;

    ol { 
      padding-left: 1rem;

      li {
          font-weight: normal;
          font-size: 1rem;
          padding-bottom: 1rem;

          ol {
            li {
              padding-bottom: 0rem
            }
          }
      }
    }
  }
}

li {
  display: block
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}