<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="p-1">
  <h1 class="mat-headline">General</h1>
  <div class="info-area mb-1 p-1">
    <h2 class="mat-title">Terms and condition</h2>
    <div class="mat-body-1">Version number 2.7 updated 27:th of november 2019</div>
  </div>
  <h3 class="mat-subheading-2">Introduction</h3>
  <ol>
    <li class="mat-body-2">Lorem lipsum dolor
      <ol>
        <li class="mat-body-1">Lorem lipsum
          <ol>
            <li>List item 1</li>
            <li>List item 2</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
  <div class="info-area mb-1 p-1">
    <div class="mat-caption">This is an example of a text based page from the CMS</div>
  </div>
</div>
