//-------------------------------------
// FONT INITIAL
//-------------------------------------

.context-menu-text {
  text-transform: uppercase !important;
}

.toolbar-title {
  line-height: 41px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mat-expansion-panel-header-title {
  line-height: 2 !important;
}

.first-letter-uppercase {
  display: inline-block;
  text-transform: capitalize;
}

.mat-title {
  &.category-breadcrump-title {
    font-size:18px !important;
  }
}
