<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<ng-container *ngIf="showView">
  <mat-card class="mb-1 p-0">
    <div class="bb p-1" fxLayout="row nowrap" fxLayoutAlign="space-between start">
      <div class="mat-body-2">{{ 'Profile.Self_exclude_view.Select_lock_period' | translate }}</div>
    </div>
    <mat-card-content class="p-1 mb-0">
      <div class="info-area p-1 mb-1">
        <div class="mat-caption mb-05">
          {{ 'Profile.Self_exclude_view.Self_exclude_text1' | translate }}
        </div>
        <div class="mat-caption">
          {{ 'Profile.Self_exclude_view.Self_exclude_text2' | translate }}
        </div>
      </div>
      <form [formGroup]="selfExcludeForm">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'Profile.Self_exclude_view.Select' | translate }}</mat-label>
          <mat-select formControlName="selectedPeriod">
            <mat-option *ngFor="let period of periods" [value]="period">{{ period.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox color="primary" name="terms" (change)="toggleAcceptLock($event.checked)">
          {{ 'Profile.Self_exclude_view.Accept_lock_account' | translate }}
        </mat-checkbox>
      </form>
    </mat-card-content>
    <div class="p-1 bt" fxLayout="row nowrap" fxLayoutAlign="end center">
      <button mat-raised-button color="warn" (click)="submitSelfExclude()" [disabled]="!activeButton">{{ 'Profile.Self_exclude_view.Lock_my_account' | translate }}</button>
    </div>
  </mat-card>
</ng-container>
