<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container">
  <mat-drawer-container class="app-container">
    <mat-drawer-content>
      <div class="main header">
        <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" class="app-top-toolbar mat-elevation-z4">
          <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
        </mat-toolbar>
      </div>
      <div class="main fullscreen-dialog-contents login-registration">
        <div class="mb-1">
          <button mat-button [disabled]="loading" type="button" mat-dialog-close><mat-icon class="mr-05">arrow_back</mat-icon><span>{{ 'General.Back' | translate }}</span></button>
        </div>
        <mat-card class="p-1">
          <mat-tab-group #loginTabGroup color="accent" dynamicHeight>
            <mat-tab *ngIf="!forgotPassword" label="NemId">
              <div class="pt-1 bt" mat-dialog-content>
                <app-shared-nemid-login></app-shared-nemid-login>
              </div>
            </mat-tab>
            <mat-tab *ngIf="!forgotPassword" label="{{ 'Login.Username_password' | translate }}">
              <form [formGroup]="loginForm">
                <div class="pb-1 pt-1" mat-dialog-content>
                  <div>
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'Login.Username' | translate }}</mat-label>
                      <input formControlName="username" name="username" matInput aria-describedby="Username input" autocorrect="off" autocapitalize="off">
                      <mat-error *ngIf="submitted && f.username.errors">
                        <span *ngIf="f.username.errors.required">{{ 'Login.Username_required' | translate }}</span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>{{ 'Login.Password' | translate }}</mat-label>
                      <input formControlName="password" matInput name="password" [type]="hidePassword ? 'password' : 'text'" aria-describedby="Password input" autocorrect="off" autocapitalize="off">
                      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                      <mat-error *ngIf="submitted && f.password.errors">
                        <span *ngIf="f.password.errors.required">{{ 'Login.Password_required' | translate }}</span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="errors text-danger" *ngIf="error">
                    {{ error }}
                  </div>
                </div>
                <div mat-dialog-content class="pl-1 pr-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
                  <a class="mat-body-1 mb-1" [routerLink]="" (click)="showForgotPassword()">{{ 'Login.Forgot_password' | translate }}</a>
                  <button mat-raised-button color="primary" [disabled]="loading" type="submit" [mat-dialog-close]="!error" (click)="login()">{{ 'Login.Login' | translate }}</button>  
                </div>
              </form>
            </mat-tab>
            <mat-tab *ngIf="forgotPassword" label="{{ 'Login.Request_new_password' | translate }}">
              <app-shared-modal-request-password-change [currentPlayer]="currentPlayer"></app-shared-modal-request-password-change>
              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-button (click)="backToLogin()" type="button">{{ 'General.Close' | translate }}</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
