@import '~src/styles/_variables';

.login-page {
  padding:32px;
  padding-top: 32px;
  margin: 0 auto;
  padding-bottom: 32px;
  background: @ch-lightgray;

  h4{
    text-align: center;
  }

  .form{
    width:100%;
  }
}

.login-page .buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
}
