<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="pb-1" *ngIf="progressLoader">
  <mat-progress-bar class="progress-on-top" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div *ngIf="!progressLoader" [@fadeIn] class="max-width-large-screens pt-1 pb-1" [ngClass]="{ 'pl-1 pr-1' : isTablet || isDesktop, 'pl-0 pr-0' : isMobile || mobileQuery.matches }">
  <mat-card class="mb-1">
    <div class="mb-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
      <div class="mat-caption">{{ fixture.sportName }} / {{ fixture.group }} / {{ fixture.competitionName }}</div>
      <div class="mat-caption">{{ fixture.scheduledAt }}</div>
    </div>
    <div class="mb-1 text-center mat-title">
      {{ fixture.fixtureName }}
    </div>
  </mat-card>

  <div *ngIf="isMobile || (mobileQuery.matches && !isTablet) || (mobileQuery.matches && !isDesktop)">
    <mat-tab-group color="accent" dynamicHeight>
      <mat-tab label="{{ 'Sportsbook.Bet_offers' | translate }}">
        <ng-container *ngTemplateOutlet="marketTemplate"></ng-container>
      </mat-tab>
  
      <mat-tab label="{{ 'Sportsbook.Statistics' | translate }}">
        <ng-container *ngTemplateOutlet="statistics"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="(isDesktop && !mobileQuery.matches ) || (isTablet && !mobileQuery.matches)">
    <div fxFlex="60%">
      <ng-container *ngTemplateOutlet="marketTemplate"></ng-container>
    </div>
    <div fxFlex="40%">
      <ng-container *ngTemplateOutlet="statistics"></ng-container>
    </div>
  </div>
  
  <ng-template #marketTemplate>
    <div class="pt-1">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel class="mb-05" *ngFor="let market of markets">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ market.marketName }}
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="p-05" *ngIf="market.type.marketTypeId === 112" fxLayout="row nowrap" fxLayoutAlign="start center">
            <mat-button-toggle *ngFor="let selection of market.selections" fxFlex class="mr-05 ml-05 special-toggle" value="">
              <div fxFlex class="text-left truncated-text">{{ selection.selectionName }}</div>
              <div fxFlex class="text-right truncated-text">{{ selection.price }}</div>
            </mat-button-toggle>
          </div>

          <div class="p-05" *ngIf="market.type.marketTypeId === 134" fxLayout="row nowrap" fxLayoutAlign="start center">
            <mat-button-toggle *ngFor="let selection of market.selections" fxFlex class="mr-05 ml-05 special-toggle" value="">
              <div fxFlex class="text-left truncated-text">{{ selection.selectionName }} {{ selection.points }}</div>
              <div fxFlex class="text-right truncated-text">{{ selection.price }}</div>
            </mat-button-toggle>
          </div>

          <div class="p-05" *ngIf="market.type.marketTypeId === 133">
            <div fxLayout="row nowrap" fxLayoutAlign="start center">
              <div class="pl-1 pr-1 pt-0 pb-05" fxFlex *ngFor="let participant of fixture.participants">
                <div class="mat-caption">{{ participant.participantName }}</div>
              </div>
            </div>
            <div fxLayout="row nowrap" fxLayoutAlign="start center">
              <mat-button-toggle *ngFor="let selection of market.selections" fxFlex class="mr-05 ml-05 special-toggle" value="">
                <div fxFlex class="text-left truncated-text">{{ selection.points }}</div>
                <div fxFlex class="text-right truncated-text">{{ selection.price }}</div>
              </mat-button-toggle>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-template>
  
  <ng-template #statistics>
    <div class="p-1">
      <mat-card>
        Wonderfull statistics to read
      </mat-card>
    </div>
  </ng-template>
</div>
