.games {
  .wrapper {
    width: 1100px;
    margin: 40px auto 0;
  }
}

.align-center-game{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 1199px) {
  .games {
    margin-top: 20px;

    .wrapper {
      width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .games {
    margin-top: 0;
  }
}
