<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="homepage-content">
  <app-banner></app-banner>
  <app-menu [items]="categoriesGames" [(search)]="searchStr"></app-menu>
  <div class="container wrapper-games">
    <div class="games">
      <div class="wrapper" *ngFor="let item of categoriesGames">
        <app-news
          [title]="item.name"
          [code]="item.code"
          [items]="getItemsNews(item.code)"
          [itemsSlider]="getItemsSliderNews(item.code)"
          [isLoading]="isLoading"
        >
        </app-news>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #gameModal class="modal-game" [backdrop]="false" [dismissable]="true" [escapable]="true" [closable]="true" identifier="gameModal">
  <div class="align-center-game">
    <div id="the-game" #game></div>
  </div>
</ngx-smart-modal>
