<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="pb-1" *ngIf="progressLoader">
  <mat-progress-bar class="progress-on-top" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div *ngIf="!progressLoader" [@fadeIn] class="max-width-large-screens pt-1 pb-1" [ngClass]="{ 'pl-1 pr-1' : isTablet || isDesktop, 'pl-0 pr-0' : isMobile || mobileQuery.matches }">
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <button mat-icon-button class="mr-1" (click)="navigateHome()"><mat-icon>arrow_back</mat-icon></button>
    <div class="mat-title category-breadcrump-title mb-0">
      <a href="javascript:void(0);" [routerLink]="'/sportsbook/category/1/' + sportData.name.toLocaleLowerCase() + '/' + sportData.id | localize" class="first-letter-uppercase">{{ sportData.name }}</a> /
      <span class="first-letter-uppercase">{{ groupName }}</span>
    </div>
  </div>
  <ng-template #matches>
    <div class="pt-1" *ngIf="competitionsGroupedByCountry[groupName] && competitionsGroupedByCountry[groupName].competitions.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel *ngFor="let competition of competitionsGroupedByCountry[groupName].competitions; let i = index" [expanded]="toggleExpansionCompetitions[competition.id]">
          <mat-expansion-panel-header #expansionHeader class="mat-row" (click)="getFixturesForCompetition(expansionHeader._isExpanded(), competition); toggleCompetitionExpansion(competition.id)">
            <mat-panel-title>
              {{ competition.competitionName }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="toolbar-spacer"></span>
              <div class="fixture-counter">{{ competition.matchUpCount }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar *ngIf="competitionLoaders[competition.competitionName]" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="showFixtures" class="expanded-fixture-area">
            <ng-container *ngFor="let fixture of competition.fixtures; let i = index">
              <ng-container *ngIf="displayFixtureStatus.includes(fixture.status)">
                <ng-container *ngIf="(competition.fixtures[i-1] === undefined) || (fixture.scheduledAt.isAfter(competition.fixtures[i-1].scheduledAt, 'day'))">
                  <div class="p-05 date-list-divider" *ngIf="isDateToday(fixture.scheduledAt); else future">
                    <span class="mat-caption">{{ 'Sportsbook.Today' | translate }}</span>
                  </div>
                  <ng-template #future>
                    <div class="p-05 date-list-divider" *ngIf="fixtureContainDisplayMarkets(fixture)">
                      <span class="mat-caption">{{ fixture.scheduledAt | date:'MMM d, y' }}</span>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container *ngFor="let market of fixture.markets">
                  <ng-container *ngIf="displayMarket(market, fixture)">
                    <div class="p-05 match-item-lobby-widget bb" [@fadeIn]>
                      <app-sportsbook-category-shared-market-bet-item [market]="market" [fixture]="fixture"></app-sportsbook-category-shared-market-bet-item>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="pt-1" *ngIf="competitionsGroupedByCountry[groupName] && competitionsGroupedByCountry[groupName].competitions.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <ng-template #liveMatches>
    <div class="pt-1" *ngIf="competitionsGroupedByCountry[groupName] && competitionsGroupedByCountry[groupName].competitions.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel *ngFor="let competition of competitionsGroupedByCountry[groupName].competitions; let i = index" [expanded]="toggleExpansionCompetitions[competition.id]">
          <mat-expansion-panel-header #expansionHeader class="mat-row" (click)="getFixturesForCompetition(expansionHeader._isExpanded(), competition); toggleCompetitionExpansion(competition.id)">
            <mat-panel-title>
              {{ competition.competitionName }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="toolbar-spacer"></span>
              <div class="fixture-counter">{{ competition.matchUpCount }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar *ngIf="competitionLoaders[competition.competitionName]" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="showFixtures" class="expanded-fixture-area">
            <ng-container *ngFor="let fixture of competition.fixtures; let i = index">
              <ng-container *ngIf="displayFixtureStatus.includes(fixture.status)">
                <ng-container *ngIf="(competition.fixtures[i-1] === undefined) || (fixture.scheduledAt.isAfter(competition.fixtures[i-1].scheduledAt, 'day') && fixture.offeredLive)">
                  <div class="p-05 date-list-divider" *ngIf="isDateToday(fixture.scheduledAt); else future">
                    <span class="mat-caption">{{ 'Sportsbook.Today' | translate }}</span>
                  </div>
                  <ng-template #future>
                    <ng-container *ngIf="">
                      <div class="p-05 date-list-divider">
                        <span class="mat-caption">{{ fixture.scheduledAt | date:'MMM d, y' }}</span>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-container>
                <ng-container *ngFor="let market of fixture.markets">
                  <ng-container *ngIf="displayMarketLive(market, fixture)">
                    <div class="p-05 match-item-lobby-widget bb" [@fadeIn]>
                      <app-sportsbook-category-shared-market-bet-item [market]="market" [fixture]="fixture"></app-sportsbook-category-shared-market-bet-item>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="pt-1" *ngIf="competitionsGroupedByCountry[groupName] && competitionsGroupedByCountry[groupName].competitions.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <mat-tab-group color="accent" dynamicHeight>
    <mat-tab label="{{ 'Sportsbook.Matches' | translate }}">
      <ng-container *ngTemplateOutlet="matches"></ng-container>
    </mat-tab>

    <mat-tab label="{{ 'Sportsbook.Live' | translate }}">
      <ng-container *ngTemplateOutlet="liveMatches"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
