<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="p-0 grid-list-card">
  <mat-toolbar class="widget-header" color="primary">
    <div>{{ widget.header }}</div>
  </mat-toolbar>
  <mat-tab-group color="accent" class="widget-tab-group" backgroundColor="primary" dynamicHeight *ngIf="widget.categories.length > 0; else empty">
    <mat-tab [disabled]="loadingFixture" *ngFor="let category of widget.categories" label="{{ category.name }}">
      <div class="centering-spinner p-1">
        <mat-spinner *ngIf="loadingFixture" diameter="40"></mat-spinner>
      </div>
      <div *ngIf="!loadingFixture" [@fadeIn]>
        <ng-container *ngFor="let fixture of categoryCompetitionData[category.sportId]?.competition.fixtures">
          <ng-container *ngIf="categoryCompetitionData[category.sportId].competition.fixtures.length > 0">
            <div class="p-1 match-item-lobby-widget bb" *ngIf="fixture.markets[0] && displayMarketStatus.includes(fixture.markets[0].status)">
              <app-sportsbook-sports-lobby-widget-market-bet-item [categoryId]="categoryCompetitionData[category.sportId]?.categoryId" [market]="fixture.markets[0]" [fixture]="fixture"></app-sportsbook-sports-lobby-widget-market-bet-item>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <ng-container *ngIf="(categoryCompetitionData[category.sportId]?.competition?.fixtures && categoryCompetitionData[category.sportId]?.competition?.fixtures.length === 0) && (!loadingFixture)">
        <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #empty>
  <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
</ng-template>
