<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<form [formGroup]="lossLimits">
  <mat-card class="mb-1 p-0" class="mat-elevation-z0">
    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Loss_limits_view.Single' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.lossLimits.single }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.lossLimits.single !== playerLimits?.lossLimits.single && pendingPlayerLimits?.lossLimits.single !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Deposit_limits_view.New_single_loss_limit' | translate }}</mat-label>
        <input matInput formControlName="single" type="number" (keypress)="numericOnly($event)" aria-describedby="New single loss limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.lossLimits.single !== playerLimits?.lossLimits.single && pendingPlayerLimits?.lossLimits.single !== null">
          {{ 'Profile.Loss_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.lossLimits.single !== playerLimits?.lossLimits.single && pendingPlayerLimits?.lossLimits.single !== null ? pendingPlayerLimits?.lossLimits.single : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Loss_limits_view.Daily' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.lossLimits.day }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.lossLimits.day !== playerLimits?.lossLimits.day && pendingPlayerLimits?.lossLimits.day !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Loss_limits_view.New_daily_loss_limit' | translate }}</mat-label>
        <input matInput formControlName="day" type="number" (keypress)="numericOnly($event)" aria-describedby="New daily loss limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.lossLimits.day !== playerLimits?.lossLimits.day && pendingPlayerLimits?.lossLimits.day !== null">
          {{ 'Profile.Loss_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.lossLimits.day !== playerLimits?.lossLimits.day && pendingPlayerLimits?.lossLimits.day !== null ? pendingPlayerLimits?.lossLimits.day : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Loss_limits_view.Weekly' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.lossLimits.week }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.lossLimits.week !== playerLimits?.lossLimits.week && pendingPlayerLimits?.lossLimits.week !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Loss_limits_view.New_weekly_loss_limit' | translate }}</mat-label>
        <input matInput formControlName="week" type="number" (keypress)="numericOnly($event)" aria-describedby="New weekly loss limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.lossLimits.week !== playerLimits?.lossLimits.week && pendingPlayerLimits?.lossLimits.week !== null">
          {{ 'Profile.Loss_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.lossLimits.week !== playerLimits?.lossLimits.week && pendingPlayerLimits?.lossLimits.week !== null ? pendingPlayerLimits?.lossLimits.week : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div>
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Loss_limits_view.Monthly' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.lossLimits.month }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.lossLimits.month !== playerLimits?.lossLimits.month && pendingPlayerLimits?.lossLimits.month !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Loss_limits_view.New_monthly_loss_limit' | translate }}</mat-label>
        <input matInput formControlName="month" type="number" (keypress)="numericOnly($event)" aria-describedby="New monthly loss limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.lossLimits.month !== playerLimits?.lossLimits.month && pendingPlayerLimits?.lossLimits.month !== null">
          {{ 'Profile.Loss_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.depositLimits.month !== playerLimits?.depositLimits.month && pendingPlayerLimits?.depositLimits.month !== null ? pendingPlayerLimits?.depositLimits.month : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="pt-1 bt" fxLayout="row nowrap" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" type="submit" (click)="submitLossLimits()" [disabled]="!lossLimits.dirty || !lossLimits.valid">{{ 'Profile.Loss_limits_view.Save_new_limits' | translate }}</button>
    </div>
  </mat-card>
</form>
