<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<mat-toolbar color="primary" class="main-menu-top-toolbar">
  <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
</mat-toolbar>
<mat-divider></mat-divider>
<mat-nav-list>
  <a
    role="menuitem"
    aria-label="Sportsbook home"
    [routerLink]="'/sportsbook' | localize" href="javascript:void(0);">
    <mat-list-item>
      <span>Sports</span>
      <mat-icon class="mr-1" mat-list-icon>sports</mat-icon>
    </mat-list-item>
  </a>
  <a
    role="menuitem"
    aria-label="Casino home"
    [routerLink]="'/casino' | localize" href="javascript:void(0);">
    <mat-list-item>
      <span>Casino</span>
      <mat-icon class="mr-1" mat-list-icon>casino</mat-icon>
    </mat-list-item>
  </a>
</mat-nav-list>
