<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="pb-1" *ngIf="progressLoader">
  <mat-progress-bar class="progress-on-top" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div *ngIf="!progressLoader" [@fadeIn] class="max-width-large-screens pt-1 pb-1" [ngClass]="{ 'pl-1 pr-1' : isTablet || isDesktop, 'pl-0 pr-0' : isMobile || mobileQuery.matches }">
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <button mat-icon-button class="mr-1" (click)="navigateHome()"><mat-icon>arrow_back</mat-icon></button>
    <div class="mat-title category-breadcrump-title mb-0">
      <a href="javascript:void(0);" [routerLink]="'/sportsbook/category/1/' + sportData.name.toLocaleLowerCase() + '/' + sportData.id | localize" class="first-letter-uppercase">{{ sportData.name }}</a> /
      <a href="javascript:void(0);" [routerLink]="'/sportsbook/category/1/' + sportData.name.toLocaleLowerCase() + '/' + sportData.id + '/' + competition.group.toLowerCase() | localize" class="first-letter-uppercase">{{ competition.group }}</a> /
      <span class="first-letter-uppercase">{{ competition.competitionName }}</span>
    </div>
  </div>

  <ng-template #matches>
    <div class="pt-1" *ngIf="fixtureGroups.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel *ngFor="let fixtureGroup of fixtureGroups" [expanded]="toggleExpansions[fixtureGroup.dateGroup]">
          <mat-expansion-panel-header class="mat-row" (click)="toggleCompetitionExpansion(fixtureGroup.dateGroup)">
            <mat-panel-title class="first-letter-uppercase">
              {{ fixtureGroup.dateGroup }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="toolbar-spacer"></span>
              <div class="fixture-counter">{{ fixtureGroup.matchupCount }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="showFixtures" class="expanded-fixture-area">
            <ng-container *ngFor="let fixture of fixtureGroup.fixtures; let i = index">
              <ng-container *ngIf="displayFixtureStatus.includes(fixture.status)">
                <ng-container *ngIf="(fixtureGroup.fixtures[i-1] === undefined) || (fixture.scheduledAt.isAfter(fixtureGroup.fixtures[i-1].scheduledAt, 'day'))">
                  <div class="p-05 date-list-divider" *ngIf="isDateToday(fixture.scheduledAt); else future">
                    <span class="mat-caption">{{ 'Sportsbook.Today' | translate }}</span>
                  </div>
                  <ng-template #future>
                    <div class="p-05 date-list-divider" *ngIf="fixtureContainDisplayMarkets(fixture)">
                      <span class="mat-caption">{{ fixture.scheduledAt | date:'MMM d, y' }}</span>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container *ngFor="let market of fixture.markets">
                  <ng-container *ngIf="displayMarket(market, fixture)">
                    <div class="p-05 match-item-lobby-widget bb" [@fadeIn]>
                      <app-sportsbook-category-shared-market-bet-item [market]="market" [fixture]="fixture"></app-sportsbook-category-shared-market-bet-item>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="pt-1" *ngIf="fixtureGroups.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <ng-template #liveMatches>
    <div class="pt-1" *ngIf="fixtureGroups.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel *ngFor="let fixtureGroup of fixtureGroups" [expanded]="toggleExpansions[fixtureGroup.dateGroup]">
          <mat-expansion-panel-header class="mat-row" (click)="toggleCompetitionExpansion(fixtureGroup.dateGroup)">
            <mat-panel-title>
              {{ fixtureGroup.dateGroup }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="toolbar-spacer"></span>
              <div class="fixture-counter">{{ fixtureGroup.matchupCount }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="showFixtures" class="expanded-fixture-area">
            <ng-container *ngFor="let fixture of fixtureGroup.fixtures; let i = index">
              <ng-container *ngIf="displayFixtureStatus.includes(fixture.status)">
                <ng-container *ngIf="(fixtureGroup.fixtures[i-1] === undefined) || (fixture.scheduledAt.isAfter(fixtureGroup.fixtures[i-1].scheduledAt, 'day'))">
                  <div class="p-05 date-list-divider" *ngIf="isDateToday(fixture.scheduledAt); else future">
                    <span class="mat-caption">{{ 'Sportsbook.Today' | translate }}</span>
                  </div>
                  <ng-template #future>
                    <div class="p-05 date-list-divider">
                      <span class="mat-caption">{{ fixture.scheduledAt | date:'MMM d, y' }}</span>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container *ngFor="let market of fixture.markets">
                  <ng-container *ngIf="displayMarket(market, fixture)">
                    <div class="p-05 match-item-lobby-widget bb" [@fadeIn]>
                      <app-sportsbook-category-shared-market-bet-item [market]="market" [fixture]="fixture"></app-sportsbook-category-shared-market-bet-item>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="pt-1" *ngIf="fixtureGroups.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <ng-template #outrights>
    <div class="pt-1" *ngIf="fixtureGroups.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" [@.disabled]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="mat-row">
            <mat-panel-title class="first-letter-uppercase">
              {{ competition.competitionName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="showFixtures" class="expanded-fixture-area">
            <div *ngFor="let outrightsFixture of outrightsFixtures" class="pl-1 pr-1 pt-05 pb-05 match-item-lobby-widget bb" [@fadeIn]>
              <div aria-label="Market bets" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="truncated-flex-item" fxLayout="row" fxLayoutAlign="start center">
                  <div class="truncated-flex-item">
                    <div class="mb-0 mat-subheading-1 truncated-text">{{ outrightsFixture.competitorName }}</div>
                  </div>
                </div>
                <div class="ml-1" fxLayout="row" fxLayoutAlign="end center" fxFlex>
                  <mat-button-toggle [disabled]="outrightsFixture.status !== 0" class="mr-05 ml-05" value="{{ outrightsFixture.price }}">{{ outrightsFixture.price | number:'1.2-2' }}</mat-button-toggle>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="pt-1" *ngIf="outrightsFixtures.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <mat-tab-group color="accent" dynamicHeight>
    <mat-tab label="{{ 'Sportsbook.Matches' | translate }}">
      <ng-container *ngTemplateOutlet="matches"></ng-container>
    </mat-tab>

    <mat-tab label="{{ 'Sportsbook.Live' | translate }}">
      <ng-container *ngTemplateOutlet="liveMatches"></ng-container>
    </mat-tab>

    <mat-tab label="{{ 'Sportsbook.Outrights' | translate }}">
      <ng-container *ngTemplateOutlet="outrights"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
