<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<nav class="navbar navbar-expand-lg navbar-light ch-yellow">
  <div class="container wrapper-menu" #sliderMenu>
    <div class="game-menu">
      <div class="wrapper">
        <div class="item" *ngFor="let item of items">
          <a class="nav-link" (click)="onClick($event, item.code)">{{item.name}}</a>
        </div>
      </div>
      <div class="search">
        <input class="form-control bg-input" placeholder="{{ 'Game.Search_games' | translate }}" [ngModel]="search" (ngModelChange)="onSearchChange($event)" />
      </div>
    </div>
  </div>
</nav>
