@import '~src/styles/_variables';

.game-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(100% - 208px);
    overflow-x: auto;

    .item{
      cursor:pointer;
      .nav-link{
        white-space: nowrap;
        border-radius:8px;

        &:hover{
          background:rgba(255,255,255,0.3);
        }
      }
    }
  }

  .all-games {
    display: flex;
    align-items: center;
    width: 165px;
    padding: 6px 0;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    p {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: @ch-white;
      width: 100%;
      margin: 0;
      padding: 5px;
    }

  }

  .blue-but-left {
    border-right: 15px solid #4484bd !important;
    cursor: pointer;
    &:hover {
      border-right: 15px solid #415F85 !important;
    }
  }
  .gray-but-left {
    border-right: 15px solid #928e90 !important;
    cursor: auto;
  }
  .blue-but-right {
    border-left: 15px solid #4484bd !important;
    cursor: pointer;
    &:hover {
      border-left: 15px solid #415F85 !important;
    }
  }
  .gray-but-right {
    border-left: 15px solid #928e90 !important;
    cursor: auto;
  }

  .slider-games {
    padding: 18px 0;
    width: 100%;
    .item {
      padding: 0 4px;
      text-align: center;
      a {
        line-height: 13px;
        display: inline-block;
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      text-align: center;
      padding: 10px;
    }

    .form-control{
      margin-bottom:0;
    }
  }
}
