<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container">
  <mat-drawer-container class="app-container">
    <mat-drawer-content>
      <div class="main header">
        <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" class="app-top-toolbar mat-elevation-z4">
          <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
        </mat-toolbar>
      </div>
      <div class="main fullscreen-dialog-contents login-registration">
        <div class="mb-1">
          <button mat-button type="button" mat-dialog-close><mat-icon class="mr-05">arrow_back</mat-icon><span>{{ 'General.Back' | translate }}</span></button>
        </div>
        <mat-card class="p-0">
          <mat-dialog-content class="pl-0 pr-0">
            <mat-vertical-stepper linear #registrationStepper>
              <mat-step>
                <ng-template matStepLabel>NemId</ng-template>
                <ng-container *ngTemplateOutlet="nemId"></ng-container>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{ 'Registration.Profile' | translate }}</ng-template>
                <ng-container *ngTemplateOutlet="profile"></ng-container>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{ 'Registration.Limits' | translate }}</ng-template>
                <ng-container *ngTemplateOutlet="limits"></ng-container>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{ 'Registration.Confirm' | translate }}</ng-template>
                <ng-container *ngTemplateOutlet="confirm"></ng-container>
              </mat-step>
            </mat-vertical-stepper>
          </mat-dialog-content>
        </mat-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ng-template #nemId>
  <app-shared-nemid-login></app-shared-nemid-login>
</ng-template>

<ng-template #profile>
  <form [formGroup]="registerProfileForm">
    <div class="mb-05 mt-1" fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.First_name' | translate }}</mat-label>
        <input matInput formControlName="firstName" required type="text" aria-describedby="First name">
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Last_name' | translate }}</mat-label>
        <input matInput formControlName="lastName" required type="text" aria-describedby="Last name">
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Birthdate' | translate }}</mat-label>
        <input matInput formControlName="birthdate" required type="number" aria-describedby="Birthdate">
        <mat-hint>YYYYMMDD</mat-hint>
        <mat-error *ngIf="birthdateControl.errors?.pattern || birthdateControl.errors?.tooYoung">
          <span *ngIf="birthdateControl.errors?.pattern">{{ 'Registration.Birthday_pattern_error' | translate }}</span>
          <span *ngIf="birthdateControl.errors?.tooYoung">{{ 'Registration.Birthday_to_young_error' | translate }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-05" fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Address' | translate }}</mat-label>
        <input matInput formControlName="address" required type="text" maxlength="50" aria-describedby="Address">
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Zip' | translate }}</mat-label>
        <input matInput formControlName="zip" required type="number" aria-describedby="Zip code">
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.City' | translate }}</mat-label>
        <input matInput formControlName="city" required type="text" aria-describedby="City">
      </mat-form-field>
    </div>
    <div class="mb-05" fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Email' | translate }}</mat-label>
        <input matInput formControlName="email" required type="email" aria-describedby="Email">
        <mat-error *ngIf="registerProfileForm.controls.email.errors?.pattern">
          {{ 'Registration.Email_error' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Phone' | translate }}</mat-label>
        <input matInput formControlName="phone" required type="phone" aria-describedby="Phone">
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.National_id' | translate }}</mat-label>
        <input matInput formControlName="nationalId" required type="text" aria-describedby="National-Id">
        <mat-hint>DDMMYY-SSSS</mat-hint>
      </mat-form-field>
    </div>
    <div class="mb-05" fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Login_nickname' | translate }}</mat-label>
        <input matInput formControlName="login" required type="text" minlength="2" maxlength="12" aria-describedby="Login/Nickname">
        <mat-hint>{{ 'Registration.Nickname_length' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Password' | translate }}</mat-label>
        <input autocomplete="new-password" matInput formControlName="password" required type="password" minlength="6" aria-describedby="Password">
        <mat-hint>{{ 'Registration.Password_length' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
        <mat-label>{{ 'Registration.Repeat_password' | translate }}</mat-label>
        <input autocomplete="new-password" matInput formControlName="repeatPassword" required type="password" minlength="6" aria-describedby="Password">
        <mat-error *ngIf="registerProfileForm.hasError('notSame')">{{ 'Registration.Password_error' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1 mr-05" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button (click)="next()" color="primary" [disabled]="!registerProfileForm.valid">{{ 'General.Next' | translate }}</button>
    </div>
  </form>
</ng-template>

<ng-template #limits>
  <div class="p-1 mt-1 mb-1 mat-body-1 info-area">
    * {{ 'Registration.Limits_alert' | translate }}
  </div>

  <mat-button-toggle-group [value]="selectedLimit" #limitGroup="matButtonToggleGroup" (change)="onValChange(limitGroup.value)" class="full-width filter-toogle-buttons" aria-label="Show different limits">
    <mat-button-toggle (click)="showSingleForm()" fxFlex value="single">{{ 'Registration.Single' | translate }}</mat-button-toggle>
    <mat-button-toggle (click)="showWeeklyForm()" fxFlex value="weekly">{{ 'Registration.Weekly' | translate }} *</mat-button-toggle>
    <mat-button-toggle (click)="showDailyForm()" fxFlex value="daily">{{ 'Registration.Daily' | translate }} *</mat-button-toggle>
    <mat-button-toggle (click)="showMonthlyForm()" fxFlex value="monthly">{{ 'Registration.Monthly' | translate }} *</mat-button-toggle>
  </mat-button-toggle-group>

  <form [formGroup]="registerLimitsForm">
    <div class="mt-1">
      <ng-container *ngIf="showSingle">
        <mat-form-field fxFlex class="full-width" class="mr-05 ml-05" appearance="outline">
          <mat-label>{{ 'Registration.Set_single_limit' | translate }}</mat-label>
          <input matInput formControlName="singleLimit" type="number" aria-describedby="Single limit">
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="showWeekly">
        <mat-form-field fxFlex class="full-width" class="mr-05 ml-05" appearance="outline">
          <mat-label>{{ 'Registration.Set_weekly_limit' | translate }}</mat-label>
          <input matInput formControlName="weeklyLimit" type="number" aria-describedby="Weekly limit">
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="showDaily">
        <mat-form-field fxFlex class="full-width" class="mr-05 ml-05" appearance="outline">
          <mat-label>{{ 'Registration.Set_daily_limit' | translate }}</mat-label>
          <input matInput formControlName="dailyLimit" type="number" aria-describedby="Daily limit">
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="showMonthly">
        <mat-form-field fxFlex class="full-width" class="mr-05 ml-05" appearance="outline">
          <mat-label>{{ 'Registration.Set_monthly_limit' | translate }}</mat-label>
          <input matInput formControlName="monthlyLimit" type="number" aria-describedby="Monthly limit">
        </mat-form-field>
      </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button class="ml-05" mat-button (click)="previous()">{{ 'General.Previous' | translate }}</button>
      <button class="mr-05" mat-raised-button (click)="next()" [disabled]='!registerLimitsForm.valid' color="primary">{{ 'General.Next' | translate }}</button>
    </div>
  </form>
</ng-template>

<ng-template #confirm>
  <ng-container *ngIf="showConfirmStep">
    <div [@fadeIn]>
      <form [formGroup]="registerIntendedGamblingForm">
        <div class="mt-1" fxLayout="column" fxLayoutAlign="center center">
          <div class="mat-headline text-align-center">{{ 'Registration.Congratulations' | translate }}</div>
          <div class="success-checkmark">
            <div class="check-icon">
              <span class="icon-line line-tip"></span>
              <span class="icon-line line-long"></span>
              <div class="icon-circle"></div>
              <div class="icon-fix"></div>
            </div>
          </div>
  
          <div class="mat-body-1 p-1 info-area mb-1">{{ 'Registration.Intended_gambling_text' | translate }}</div>
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>{{ 'Registration.Intended_gambling' | translate }}</mat-label>
            <mat-select formControlName="intendedGambling">
              <mat-option *ngFor="let value of intendedGamblingValues" [value]="value">{{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="mb-1">
            <mat-checkbox
              color="primary"
              [checked]="false"
              (change)="changeEvent($event)">
              <a href="javascript:void(0);" (click)="showTerms()">
                {{ 'Registration.Accept_terms_conditions' | translate }}
              </a>
            </mat-checkbox>
          </div>
          <button mat-raised-button [disabled]="!acceptTerms" color="primary" (click)="finishRegistration()">{{ 'Registration.Finish_registration' | translate }}</button>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="showTermsAndCondition">
    <div [@fadeIn]>
      <div class="bb bt p-1" fxLayout="row" fxLayoutAlign="center center">
        <button mat-button color="primary" (click)="showConfirm()"><mat-icon class="mr-1">close</mat-icon><span>{{ 'Registration.Close_terms_condition' | translate }}</span></button>
      </div>
      <app-shared-terms-conditions></app-shared-terms-conditions>
      <!--  The Terms and condition page/component have to be a page made from the CMS where the user set a 'terms and condition' property -->
      <div class="bb bt p-1" fxLayout="row" fxLayoutAlign="center center">
        <button mat-button color="primary" (click)="showConfirm()"><mat-icon class="mr-1">close</mat-icon><span>{{ 'Registration.Close_terms_condition' | translate }}</span></button>
      </div>
    </div>
  </ng-container>
</ng-template>
