.container {
  text-align: center;
  padding: 30px 0;
}

.txt {
  margin-bottom: 30px;
}

.btn {
  margin: 0 10px;
}

@media all and (max-width: 575px) {
  .container--btn {
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
