<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<ngx-smart-modal #siteTerms [dismissable]="false" [autostart]="open" [closable]="false" identifier="siteTerms" customClass="nsm-centered">
  <div class="container">
    <h3 class="txt" [innerHTML]="data.question"></h3>

    <div class="container--btn">
      <button class="btn btn-lg btn-danger" (click)="onDesagree()">{{data.decline}}</button>
      <button class="btn btn-lg btn-success" (click)="onAgree()">{{data.accept}}</button>
    </div>
  </div>
</ngx-smart-modal>
