//Colors

@bg-white: #f2f2f2;
@bg-block: #ebebeb;


// Casino house colors
@ch-darkblue: #09508D;
@ch-marineblue: #09508D;
@ch-orange: #E0B500;
@ch-yellow: #052C4D;
@ch-red: #d11a33;
@ch-white: #ffffff;
@ch-lightgray: #fafafa;

