<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="bg-bonus-top"> <!-- This image should be replaced with a image from CMS. Doesn´t work now -->

</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="mb-4 mt-5">Kampagner</h3>

        <div class="row mb-4">
          <div class="col-sm-12 col-md-4">
            <div>
              <img src="assets/images/Casino-bonus1.png" />
            </div>
          </div>
          <div class="col-sm-12 col-md-8">
            <div class="pl-4 pr-4 pt-2 pb-2">
              <h3>Stor velkomstbonus</h3>
              <p>Vi byder alle nye gæster indenfor med 50 Gratis Chancer til Starburst i velkomstgave.</p>
              <p>Gælder 02.01.20 – 31.12.20 for nye spillere, der opretter en konto. Værdi 1 kr. pr. chance. Intet købs- eller gennemspilskrav. Skal anvendes indenfor 60 dage.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

