@import '../../../styles/_variables.less';

.bg-bonus-top {
  width: 100%;
  height:350px;
  background-image: url('../../../assets/images/bonus_header.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position:relative;
}

