<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div [ngClass]="{'tile': true, 'tile--big': bigImage}">
  <div class="tile-image">
    <span
      class="tile-link lazy-load-bg"
      [lazyLoad]="data.thumbnail"
      [offset]="200">
    </span>
    <div class="play-buttons">
      <button type="button" class="btn btn-sm ch-yellow" (click)="openDemoGame()">{{ 'Game.Test' | translate }}</button>
      <button type="button" class="ml-1 btn btn-sm ch-orange" (click)="openRealGame()">{{ 'Game.Play' | translate }}</button>
    </div>
  </div>
  <span class="h6 tile-title name" *ngIf="data.name">{{ data.name }}</span>
</div>
