.tile {
    a.name {
      display: block;
      margin: 9px 0px 12px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    &-image {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 142px;
      -webkit-mask-image: -webkit-radial-gradient(white, black);
    }
  
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.7s;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  
      &:hover {
        transform: scale(1.1, 1.1) rotate(-1deg);
      }
    }
  
    &-title {
      display: block;
      margin: 9px 0px 12px 0px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  .tile{
    .tile-image{
      .play-buttons{
        position:absolute;
        opacity:0;
        transition: opacity 1s;
      }
    }
  }
  
  .tile:hover{
    .tile-image{
      .play-buttons{
        bottom: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        opacity: 1;
      }
    }
  }
  
  .tile--big .tile {
    &-image {
      min-height: 320px;
    }
  }
  
  .lazy-load-bg {
    background-color: #d6d6d6;
  }
  
  @media (max-width: 991px) {
    .tile--big {
      .tile-image {
        min-height: 135px;
      }
    }
  }
  
  @media (max-width: 575px) {
    .tile-image {
      height: 168px;
    }
  }
  
  @media (max-width: 470px) {
    .tile-image {
      height: 120px;
    }
  
    .tile--big {
      .tile-image {
        min-height: 120px;
      }
    }
  }
  
  