<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<mat-nav-list dense>
  <mat-list-item (click)="toggleExpanded(whatsHotSubMenu)">
    <span class="full-width">{{ 'Sportsbook.Whats_hot' | translate }}</span>
    <mat-icon class="mr-1" mat-list-icon>whatshot</mat-icon>
    <mat-icon class="menu-button mr-1" [ngClass]="{'rotated' : whatsHotSubMenu.classList.contains('expanded')}">expand_more</mat-icon>
  </mat-list-item>
  <div class="submenu expanded" #whatsHotSubMenu>
    <!-- Static menu items -->
    <a
      class="submenu-item"
      mat-list-item
      [routerLink]="'/sportsbook/category/1/football/29' | localize"
      routerLinkActive="active-list-item"
      [routerLinkActiveOptions]="{exact: true}"
      href="javascript:void(0);"
      (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
      <mat-icon svgIcon="football" class="mr-1" mat-list-icon></mat-icon>
      Football
    </a>
    <a
      class="submenu-item"
      mat-list-item
      [routerLink]="'/sportsbook/category/1/football/29/england' | localize"
      routerLinkActive="active-list-item"
      [routerLinkActiveOptions]="{exact: true}"
      href="javascript:void(0);"
      (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
      <mat-icon svgIcon="football" class="mr-1" mat-list-icon></mat-icon>
      English football
    </a>
    <a
      class="submenu-item"
      mat-list-item
      [routerLink]="'/sportsbook/category/1/football/29/england/premier_league/1980' | localize"
      routerLinkActive="active-list-item"
      [routerLinkActiveOptions]="{exact: true}"
      href="javascript:void(0);"
      (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
      <mat-icon svgIcon="football" class="mr-1" mat-list-icon></mat-icon>
      Premier League
    </a>
    <a
      class="submenu-item"
      mat-list-item
      [routerLink]="'/sportsbook/category/2/e-sport' | localize"
      routerLinkActive="active-list-item"
      [routerLinkActiveOptions]="{exact: true}"
      href="javascript:void(0);"
      (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
      <mat-icon svgIcon="esport" class="mr-1" mat-list-icon></mat-icon>
      E-sport
    </a>
    <a
      class="submenu-item"
      mat-list-item
      [routerLink]="'/sportsbook/category/2/e-sport/dota_2/12007' | localize"
      routerLinkActive="active-list-item"
      [routerLinkActiveOptions]="{exact: true}"
      href="javascript:void(0);"
      (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
      <mat-icon svgIcon="esport" class="mr-1" mat-list-icon></mat-icon>
      Dota 2
    </a>
    <a
      class="submenu-item"
      mat-list-item
      [routerLink]="'/sportsbook/category/2/e-sport/dota_2/12007/dreamLeague_dpc_europe_qualifier/211423' | localize"
      routerLinkActive="active-list-item"
      [routerLinkActiveOptions]="{exact: true}"
      href="javascript:void(0);"
      (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
      <mat-icon svgIcon="esport" class="mr-1" mat-list-icon></mat-icon>
      DreamLeague DPC Europe Qualifier
    </a>
  </div>

  <mat-list-item (click)="toggleExpanded(allSportsSubMenu)">
    <span class="full-width">{{ 'Sportsbook.All_sports' | translate }}</span>
    <mat-icon class="mr-1" mat-list-icon>apps</mat-icon>
    <mat-icon class="menu-button mr-1" [ngClass]="{'rotated' : allSportsSubMenu.classList.contains('expanded')}">expand_more</mat-icon>
  </mat-list-item>
  <div class="submenu expanded" #allSportsSubMenu>
    <ng-container *ngFor="let sport of dataFeedService.sportsMenu">
      <a
        class="submenu-item"
        mat-list-item
        *ngIf="(sport.amountCompetitions > 0 && sport.categoryId === 1)"
        [routerLink]="createSportCategoryUrl(sport) | localize"
        routerLinkActive="active-list-item"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
        <mat-icon [svgIcon]="sport.categoryId === 2 ? 'esport' : sport.name.toLocaleLowerCase()" class="mr-1" mat-list-icon></mat-icon>
        {{ sport.categoryId === 1 ? sport.name : sport.categoryName }}
      </a>
      <a
        class="submenu-item"
        mat-list-item
        *ngIf="sport.categoryId !== 1"
        [routerLink]="createSportCategoryUrl(sport) | localize"
        routerLinkActive="active-list-item"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="(isMobile || isTablet || mobileQuery?.matches) ? sportsMenu.toggle() : false">
        <mat-icon [svgIcon]="sport.categoryId === 2 ? 'esport' : sport.name.toLocaleLowerCase()" class="mr-1" mat-list-icon></mat-icon>
        {{ sport.categoryId === 2 ? sport.categoryName : sport.name }}
      </a>
    </ng-container>
  </div>
</mat-nav-list>
