<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<nav color="accent" mat-tab-nav-bar aria-label="Navigation tabs" role="menubar" [ngClass]="{'center-content': sportsMenu.opened && isDesktop, 'full-width-center': sportsMenu.opened === false}">
  <a
    mat-tab-link
    role="menuitem"
    aria-label="Home tab"
    [routerLink]="'/sportsbook/home' | localize" href="javascript:void(0);"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    class="pb-05">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>home</mat-icon>
      <div class="context-menu-text">{{ 'Sportsbook.Home' | translate }}</div>
    </div>
  </a>
  <a
    mat-tab-link
    role="menuitem"
    aria-label="Live sport tab"
    class="pb-05">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>live_tv</mat-icon>
      <div class="context-menu-text">{{ 'Sportsbook.Live_sport' | translate }}</div>
    </div>
  </a>
  <a
    mat-tab-link
    role="menuitem"
    aria-label="Upcoming tab"
    class="pb-05">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>schedule</mat-icon>
      <div class="context-menu-text">{{ 'Sportsbook.Upcoming' | translate }}</div>
    </div>
  </a>

  <a
    *ngIf="currentUser"
    mat-tab-link
    role="menuitem"
    aria-label="Upcoming tab"
    (click)="accountDrawer.toggle()"
    class="pb-05">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>local_atm</mat-icon>
      <div class="context-menu-text">{{ 'Sportsbook.My_bets' | translate }}</div>
    </div>
  </a>
</nav>
