.new {
  text-align: center;
}

.new .owl-theme .owl-nav + .owl-dots {
  margin-top: 3px;
}

@media (max-width: 1199px) {
  .col {
    padding: 0 12px;
  }
}

@media (max-width: 991px) {
  .games .new {
    margin-top: 0;
  }

  div.owl-carousel.owl-theme {
    display: flex;
    flex-direction: column;
  }

  .owl-carousel .owl-stage-outer {
    order: 2;
  }

  .owl-theme .owl-dots {
    position: relative;
    order: 1;
    transform: translateX(0);
    top: 0;
    left: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .slider-tiles{
    .owl-nav{
      margin-bottom: 20px!important;
      .owl-prev, .owl-next{
        margin: 5px 10px!important;
        display: inline-block;
        top: 0;
        position: inherit;
        left: inherit;
        right: inherit;
        transform: none;
      }
    }
  }

}

@media (max-width: 575px) {
  .new {
    margin: 50px auto 0;
  }

  .col {
    padding: 0 7px;
  }
}
