<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="new row">
  <div class="owl-carousel owl-theme slider-tiles" #slider>
    <ng-container *ngFor="let item of items; let i = index; let even = even;">
      <div class="col" *ngIf="even">
        <app-game-launcher-buttons [data]="items[i]"></app-game-launcher-buttons>
        <app-game-launcher-buttons *ngIf="items[i+1]" [data]="items[i+1]"></app-game-launcher-buttons>
      </div>
    </ng-container>
  </div>
</div>
