<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div mat-dialog-title>
  <span class="mat-title">{{ title }}</span>
</div>
<mat-dialog-content class="p-1">
  <div class="mat-body-1">{{ message }}</div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button color="primary" [mat-dialog-close]="false">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="true">{{ buttonActionName }}</button>
</mat-dialog-actions>
