<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<form [formGroup]="transferLimits">
  <mat-card class="mb-1 p-0" class="mat-elevation-z0">
    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Transfer_limits_view.Single' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.transferLimits.single }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.transferLimits.single !== playerLimits?.transferLimits.single && pendingPlayerLimits?.transferLimits.single !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Transfer_limits_view.New_single_transfer_limit' | translate }}</mat-label>
        <input matInput formControlName="single" type="number" (keypress)="numericOnly($event)" aria-describedby="New single transfer limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.transferLimits.single !== playerLimits?.transferLimits.single && pendingPlayerLimits?.transferLimits.single !== null">
          {{ 'Profile.Transfer_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.transferLimits.single !== playerLimits?.transferLimits.single && pendingPlayerLimits?.transferLimits.single !== null ? pendingPlayerLimits?.transferLimits.single : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Transfer_limits_view.Daily' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.transferLimits.day }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.transferLimits.day !== playerLimits?.transferLimits.day && pendingPlayerLimits?.transferLimits.day !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Transfer_limits_view.New_daily_transfer_limit' | translate }}</mat-label>
        <input matInput formControlName="day" type="number" (keypress)="numericOnly($event)" aria-describedby="New daily transfer limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.transferLimits.day !== playerLimits?.transferLimits.day && pendingPlayerLimits?.transferLimits.day !== null">
          {{ 'Profile.Transfer_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.transferLimits.day !== playerLimits?.transferLimits.day && pendingPlayerLimits?.transferLimits.day !== null ? pendingPlayerLimits?.transferLimits.day : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Transfer_limits_view.Weekly' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.transferLimits.week }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.transferLimits.week !== playerLimits?.transferLimits.week && pendingPlayerLimits?.transferLimits.week !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Transfer_limits_view.New_weekly_transfer_limit' | translate }}</mat-label>
        <input matInput formControlName="week" type="number" (keypress)="numericOnly($event)" aria-describedby="New weekly transfer limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.transferLimits.week !== playerLimits?.transferLimits.week && pendingPlayerLimits?.transferLimits.week !== null">
          {{ 'Profile.Transfer_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.transferLimits.week !== playerLimits?.transferLimits.week && pendingPlayerLimits?.transferLimits.week !== null ? pendingPlayerLimits?.transferLimits.week : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div>
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Transfer_limits_view.Monthly' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.transferLimits.month }} {{ currency }}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.transferLimits.month !== playerLimits?.transferLimits.month && pendingPlayerLimits?.transferLimits.month !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Transfer_limits_view.New_monthly_transfer_limit' | translate }}</mat-label>
        <input matInput formControlName="month" type="number" (keypress)="numericOnly($event)" aria-describedby="New monthly transfer limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.transferLimits.month !== playerLimits?.transferLimits.month && pendingPlayerLimits?.transferLimits.month !== null">
          {{ 'Profile.Transfer_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.transferLimits.month !== playerLimits?.transferLimits.month && pendingPlayerLimits?.transferLimits.month !== null ? pendingPlayerLimits?.transferLimits.month : '-' }} {{ currency }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="pt-1 bt" fxLayout="row nowrap" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" type="submit" (click)="submitTransferLimits()" [disabled]="!transferLimits.dirty || !transferLimits.valid">{{ 'Profile.Transfer_limits_view.Save_new_limits' | translate }}</button>
    </div>
  </mat-card>
</form>
