<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="mb-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
  <div class="mat-caption" *ngIf="categoryId === 1">{{ fixture?.sportName }} / {{ fixture?.group }} / {{ fixture?.competitionName }}</div>
  <div class="mat-caption" *ngIf="categoryId === 2">{{ 'Esport' }} / {{ fixture?.sportName }} / {{ fixture?.competitionName }}</div>
  <div class="mat-caption">{{ fixture?.scheduledAt | date:'MMM d, HH:mm' }}</div>
</div>
<div aria-label="Market bets" fxLayout="row" fxLayoutAlign="space-between center" (click)="navigateToEvent()">
  <div class="truncated-flex-item">
    <div class="mb-0 mat-subheading-1 truncated-text" *ngFor="let participant of fixture.participants">{{ participant.participantName }}</div>
  </div>
  <form [formGroup]="marketSelectionForm">
    <div class="mb-05 ml-1" fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <mat-button-toggle-group formControlName="selection" multiple="true">
        <div fxLayout="column" fxLayoutAlign="start center" *ngFor="let selection of market?.selections">
          <div class="mat-body-2" *ngIf="selection.type === 4">
            {{ 1 }}
          </div>
          <div class="mat-body-2" *ngIf="selection.type === 3">
            {{ 'X' }}
          </div>
          <div class="mat-body-2" *ngIf="selection.type === 5">
            {{ 2 }}
          </div>
          <mat-button-toggle [disabled]="selection.status !== 0" class="mr-05 ml-05 button-toggle" [class.pulse]="selection.isPriceUpdated" [value]="selection.selectionId" (click)="$event.stopPropagation()">{{ (selection.price | number: '1.2-2') || '-' }}</mat-button-toggle>
        </div>
      </mat-button-toggle-group>
    </div>
  </form>
</div>
