<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container">
    <mat-drawer-container class="app-container">
      <mat-drawer-content>
        <div class="main header">
          <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
          <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" class="app-top-toolbar mat-elevation-z4">
            <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
          </mat-toolbar>
        </div>
        <div class="main contents">
          <div class="max-width-large-screens p-1">
            <mat-card class="p-1" *ngIf="showCancelText || showSuccessText">
              <ng-container>
                <mat-card-content class="p-1 info-area" *ngIf="showSuccessText">
                  <div class="mat-display-3 text-align-center">
                    {{ 'Deposit.Success' | translate }}
                  </div>
                  <div class="success-checkmark">
                    <div class="check-icon">
                      <span class="icon-line line-tip"></span>
                      <span class="icon-line line-long"></span>
                      <div class="icon-circle"></div>
                      <div class="icon-fix"></div>
                    </div>
                  </div>
                  <div class="mat-headline text-align-center">
                    {{ 'Deposit.Close_window_text' | translate }}
                  </div>
                </mat-card-content>
              </ng-container>
              <ng-container *ngIf="showCancelText">
                <mat-card-content class="p-1 info-area">
                  <div class="mat-display-3 text-align-center">
                    {{ 'Deposit.Cancel' | translate }}
                  </div>
                  <div class="mat-headline text-align-center">
                    {{ 'Deposit.Close_window_text' | translate }}
                  </div>
                </mat-card-content>
              </ng-container>
              <ng-container>
                <mat-card-actions class="pb-1" fxLayout="row" fxLayoutAlign="center center">
                  <button *ngIf="!isMobile" mat-raised-button color="accent" (click)="closeTab()">{{ 'Deposit.Close_this_window' | translate }}</button>
                </mat-card-actions>
              </ng-container>
            </mat-card>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  