<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container">
  <mat-drawer-container class="app-container">
    <mat-drawer-content>
      <div class="main header">
        <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" class="app-top-toolbar mat-elevation-z4">
          <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
        </mat-toolbar>
      </div>
      <div class="main contents">
        <div class="max-width-large-screens p-1">
          <mat-card class="p-1">
            <mat-card-header>
              <div class="mat-title">{{ 'Password_change.New_password' | translate }}</div>
            </mat-card-header>
            <mat-card-content class="p-1">
              <ng-container *ngIf="showForm">
                <div class="p-1 info-area" *ngIf="currentPlayer">
                  <span class="mat-body-1">{{ 'Password_change.Alert_text' | translate }}</span>
                </div>
                <form [formGroup]="newPassword" class="form">
                  <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
                    <mat-label>{{ 'Password_change.Enter_new_password' | translate }}</mat-label>
                    <input autocomplete="new-password" matInput formControlName="password" required type="password" minlength="6" aria-describedby="Password">
                    <mat-hint>{{ 'Registration.Password_length' | translate }}</mat-hint>
                    <mat-error *ngIf="newPassword.controls.password.errors !== null">
                      <span *ngIf="newPassword.controls['password'].errors && newPassword.controls['password'].errors.minlength">{{ 'Password_change.Error_short' | translate }}</span>
                      <span *ngIf="newPassword.controls['password'].errors && newPassword.controls['password'].errors.maxlength">{{ 'Password_change.Error_long' | translate }}</span>
                    </mat-error>
                  </mat-form-field>
  
                  <mat-form-field fxFlex class="mr-05 ml-05" appearance="outline">
                    <mat-label>{{ 'Registration.Repeat_password' | translate }}</mat-label>
                    <input autocomplete="new-password" matInput formControlName="confirmPassword" required type="password" minlength="6" aria-describedby="Password">
                    <mat-error *ngIf="newPassword.errors !== null">
                      <span *ngIf="newPassword.errors && newPassword.errors.noMatch">{{ 'Password_change.Passwords_doesnt_match' | translate }}</span>
                    </mat-error>
                  </mat-form-field>
                </form>
              </ng-container>
              <ng-container *ngIf="showSuccess">
                <div class="success-checkmark">
                  <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                  </div>
                </div>
                <div class="mat-body-1 p-1 info-area mb-1">{{ 'Password_change.Password_is_changed' | translate }}</div>
              </ng-container>
            </mat-card-content>
            <mat-card-actions class="pb-1" fxLayout="row" fxLayoutAlign="center center">
              <ng-container *ngIf="showForm">
                <button mat-raised-button class="full-width" color="primary" [disabled]="!newPassword.valid || !newPassword.controls.confirmPassword.value" (click)="submitUpdatePassword()">{{ 'General.Save' | translate }}</button>
              </ng-container>
              <ng-container *ngIf="showSuccess">
                <button mat-raised-button color="accent" routerLink="/en/casino">{{ 'Not_found.To_Casino' | translate }}</button>
                <button mat-raised-button color="accent" routerLink="/en/sportsbook">{{ 'Not_found.To_Sportsbook' | translate }}</button>
              </ng-container>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
