<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<form [formGroup]="depositLimits">
  <mat-card class="mb-1 p-0" class="mat-elevation-z0">
    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Deposit_limits_view.Single' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.depositLimits.single }} {{currency}}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.depositLimits.single !== playerLimits?.depositLimits.single && pendingPlayerLimits?.depositLimits.single !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Deposit_limits_view.New_single_deposit_limit' | translate }}</mat-label>
        <input matInput formControlName="single" type="number" (keypress)="numericOnly($event)" aria-describedby="New single deposit limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.depositLimits.single !== playerLimits?.depositLimits.single && pendingPlayerLimits?.depositLimits.single !== null">
          {{ 'Profile.Deposit_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.depositLimits.single !== playerLimits?.depositLimits.single && pendingPlayerLimits?.depositLimits.single !== null ? pendingPlayerLimits?.depositLimits.single : '-' }} {{currency}}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Deposit_limits_view.Daily' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.depositLimits.day }} {{currency}}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.depositLimits.day !== playerLimits?.depositLimits.day && pendingPlayerLimits?.depositLimits.day !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Deposit_limits_view.New_daily_deposit_limit' | translate }}</mat-label>
        <input matInput formControlName="day" type="number" (keypress)="numericOnly($event)" aria-describedby="New daily deposit limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.depositLimits.day !== playerLimits?.depositLimits.day && pendingPlayerLimits?.depositLimits.day !== null">
          {{ 'Profile.Deposit_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.depositLimits.single !== playerLimits?.depositLimits.single && pendingPlayerLimits?.depositLimits.single !== null ? pendingPlayerLimits?.depositLimits.single : '-' }} {{currency}}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="bb mb-05">
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Deposit_limits_view.Weekly' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.depositLimits.week }} {{currency}}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.depositLimits.week !== playerLimits?.depositLimits.week && pendingPlayerLimits?.depositLimits.week !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Deposit_limits_view.New_weekly_deposit_limit' | translate }}</mat-label>
        <input matInput formControlName="week" type="number" (keypress)="numericOnly($event)" aria-describedby="New weekly deposit limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.depositLimits.week !== playerLimits?.depositLimits.week && pendingPlayerLimits?.depositLimits.week !== null">
          {{ 'Profile.Deposit_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.depositLimits.week !== playerLimits?.depositLimits.week && pendingPlayerLimits?.depositLimits.week !== null ? pendingPlayerLimits?.depositLimits.week : '-' }} {{currency}}
        </mat-hint>
      </mat-form-field>
    </div>

    <div>
      <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ 'Profile.Deposit_limits_view.Monthly' | translate }}</div>
        <div class="mat-body-1">
          {{ playerLimits?.depositLimits.month }} {{currency}}
        </div>
      </div>
      <mat-form-field class="full-width" [ngClass]="{'mb-1' : pendingPlayerLimits?.depositLimits.month !== playerLimits?.depositLimits.month && pendingPlayerLimits?.depositLimits.month !== null}" appearance="outline">
        <mat-label>{{ 'Profile.Deposit_limits_view.New_monthly_deposit_limit' | translate }}</mat-label>
        <input matInput formControlName="month" type="number" (keypress)="numericOnly($event)" aria-describedby="New monthly deposit limit">
        <mat-hint class="mb-1" *ngIf="pendingPlayerLimits?.depositLimits.month !== playerLimits?.depositLimits.month && pendingPlayerLimits?.depositLimits.month !== null">
          {{ 'Profile.Deposit_limits_view.Pending' | translate }} {{ pendingPlayerLimits?.depositLimits.month !== playerLimits?.depositLimits.month && pendingPlayerLimits?.depositLimits.month !== null ? pendingPlayerLimits?.depositLimits.month : '-' }} {{currency}}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="pt-1 bt" fxLayout="row nowrap" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" type="submit" (click)="submitDepositLimits()" [disabled]="!depositLimits.dirty || !depositLimits.valid">{{ 'Profile.Deposit_limits_view.Save_new_limits' | translate }}</button>
    </div>
  </mat-card>
</form>
