<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="bg-top" [ngStyle]="{'background-image':'url(' + items[0]?.thumbnail + ')'}" *ngIf="items && items[0]"> <!-- This image should be replaced with a image from CMS. Doesn´t work now -->
  <div class="container-fluid relative">
  </div>
</div>
