<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<footer class="pt-1 pb-1">
  <div class="max-width-large-screens p-1" [fxLayout]="isMobile || mobileQuery.matches ? 'column' : 'row nowrap'" [fxLayoutAlign]="isMobile || mobileQuery.matches ? 'center center' : 'start center'">
    <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
  </div>
  <div class="max-width-large-screens p-1" [fxLayout]="isMobile || mobileQuery.matches ? 'column' : 'row nowrap'" [fxLayoutAlign]="isMobile || mobileQuery.matches ? 'center center' : 'space-between center'">
    <!-- Hard coded bottom menu. Should be populated from the cms -->
    <mat-list class="mb-1" role="list">
      <a class="footer-menu-item" matRipple mat-list-item role="listitem">About us</a>
      <a class="footer-menu-item" matRipple mat-list-item role="listitem">Customer service</a>
      <a class="footer-menu-item" matRipple mat-list-item role="listitem">Safe gamling</a>
      <a class="footer-menu-item" mat-list-item role="listitem">Cookies</a>
      <a class="footer-menu-item" mat-list-item role="listitem">Privacy policy</a>
      <a class="footer-menu-item" mat-list-item role="listitem">Terms and condition</a>
    </mat-list>
  
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="m-05">
        <a href="https://www.spillemyndigheden.dk/" target="_blank">
          <img src="assets/images/security.png" alt="Spillemyndigheden Logo">
        </a>
      </div>
      <div class="m-05">
        <a href="https://www.spillemyndigheden.dk/spil-ansvarligt" target="_blank">
          <img src="assets/images/playResponsibly.png" alt="Play responsible">
        </a>
      </div>
    </div>
  </div>
  <div class="max-width-large-screens p-1" fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-caption legal-text text-align-center">
      Company har sin danske afdeling på følgende adresse Storgatan 1, 1234 København K, Denmark, CVR-12345678. Hjemmesiden drives og opereres af Company.
      Company er licenseret og under tilsyn af Spillemyndigheden, en selvstændig tilsynsmydighed under Skatteministeriet. Company har med licensnummer J.nr. 15-1234567 modtaget tilladelse til udbydelse af sport og kasino i Danmark.
      Betalinger behandles af Company.
    </div>
    <div class="mt-1" [fxLayout]="isMobile || mobileQuery.matches ? 'column' : 'row'" [fxLayoutAlign]="isMobile || mobileQuery.matches ? 'center center' : 'center center'">
      <div class="ml-4 mr-4 mt-3 mb-3 provider-logo">
        <img src="assets/images/netent.png" alt="NetEnt logo" />
      </div>
      <div class="ml-4 mr-4 mt-3 mb-3 provider-logo">
        <img src="assets/images/playngo.png" alt="PlaynGo logo" />
      </div>
      <div class="ml-4 mr-4 mt-3 mb-3 provider-logo">
        <img src="assets/images/elk.png" alt="Elk logo" />
      </div>
      <div class="ml-4 mr-4 mt-3 mb-3 provider-logo">
        <img src="assets/images/thunderkick.png" alt="Thunderkick logo" />
      </div>
      <div class="ml-4 mr-4 mt-3 mb-3 provider-logo">
        <img src="assets/images/payment-cards//nets.svg" alt="Nets logo" />
      </div>
    </div>
  </div>
</footer>
