@import '~src/styles/_variables';

.wrap-caption {
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .caption {
    margin: 0;
  }
}

@media (max-width: 1199px) {
  .wrap-caption {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .btn-all-items {
    display: none;
  }

  .wrap-caption {
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .wrap-caption {
    margin-top: 0;
  }
}