<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="wrap-caption" [id]="id">
  <h3 class="ch-marineblue-text" *ngIf="title">{{title}}</h3>
  <button
    *ngIf="isShowButton"
    (click)="handleClick()"
    class="btn btn-blue btn-sm btn-all-items">

    {{ 'local.all' | translate }} {{title}}
  </button>
</div>