.compliance-toolbar {
  padding: 6px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  height: 40px;

  a, a[link], a[visited], a[hover] {
    text-decoration: none;
  }
}
