<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="compliance-toolbar">
  <span>
    <a href="https://www.spillemyndigheden.dk/rofus" target="_blank">
    <img height="24" alt="spillemyndigheden" width="24" src="assets/images/compliance-spillmyndighet.png">
    </a>
  </span>
  <span>18+ | <a [routerLink]="'/responsible-gaming' | localize">Spil med omtanke</a> | <a href="https://www.stopspillet.dk" target="_blank">Stopspillet.dk</a> | <a href="https://www.rofus.nu/?_ga=2.264420236.207320349.1580974633-194517349.1580974633" target="_blank">ROFUS.nu</a></span>
  <span>
    {{ displayTime }}
   <img height="14" width="14" alt="watch-icon" src="assets/images/compliance-clock.png">
  </span>
</div>
