<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="m-1">
  <mat-button-toggle-group [value]="selectedFilter" #filterGroup="matButtonToggleGroup" (change)="onValChange(filterGroup.value)" class="full-width filter-toogle-buttons" name="game filter" aria-label="Filter the game history list">
    <mat-button-toggle fxFlex value="all">{{ 'Profile.My_bets_view.All' | translate }}</mat-button-toggle>
    <mat-button-toggle fxFlex value="upcoming">{{ 'Profile.My_bets_view.Upcoming' | translate }}</mat-button-toggle>
    <mat-button-toggle fxFlex value="ongoing">{{ 'Profile.My_bets_view.Ongoing' | translate }}</mat-button-toggle>
    <mat-button-toggle fxFlex value="completed">{{ 'Profile.My_bets_view.Completed' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<ng-container *ngIf="showUpcoming">
  <div class="ml-1 mb-1" fxLayout="row nowrap" fxLayoutAlign="start center">
    <mat-icon class="mr-1">schedule</mat-icon>
    <div class="m-0 mat-subheading-1">{{ 'Profile.My_bets_view.Upcoming' | translate }}</div>
  </div>
  <ng-container *ngFor="let bet of upcomingBets">
    <mat-card class="mb-1 p-0">
      <mat-card-content class="p-1 mb-0" *ngFor="let selection of bet.selections">
        <div class="mat-body-2">{{ selection.fixtureName }}</div>
        <div class="mat-caption">{{ selection.scheduledAt }}</div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
          <span>
            <div class="mat-caption">{{ selection.marketName }}</div>
            <div class="mat-body-2">{{ selection.selectionName }}</div>
          </span>
          <div class="mat-body-2">{{ selection.price }}</div>
        </div>
      </mat-card-content>
      <div class="p-0 bt bet-card-footer">
        <div class="p-1">
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end" *ngIf="bet.selections.length > 1">
            <div class="mat-caption">{{ 'Profile.My_bets_view.Total_odds' | translate }}</div>
            <div class="mat-body-2">{{ bet.totalPrice }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
            <div class="mat-caption">
              <span *ngIf="bet.selections.length === 1">{{ 'Profile.My_bets_view.Single' | translate }}</span>
              <span *ngIf="bet.selections.length > 1">{{ 'Profile.My_bets_view.Combination' | translate }}</span> {{ 'Profile.My_bets_view.Bet' | translate }}
            </div>
            <div class="mat-body-1">{{ bet.betAmount }} {{ bet.currency }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
            <div class="mat-caption">{{ 'Profile.My_bets_view.Potential_win' | translate }}</div>
            <div class="mat-body-2">{{ bet.potentialWin }} {{ bet.currency }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
            <div class="mat-caption">{{ 'Profile.My_bets_view.Placed_at' | translate }}</div>
            <div class="mat-body-1">{{ bet.betDate }}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </ng-container>
  <div class="mat-caption mb-1 text-align-center" *ngIf="upcomingBets.length === 0">
    {{ 'Profile.My_bets_view.No_upcoming_bets' | translate }}
  </div>
</ng-container>

<ng-container *ngIf="showOngoing">
  <div class="ml-1 mb-1" fxLayout="row nowrap" fxLayoutAlign="start center">
    <mat-icon class="mr-1">schedule</mat-icon>
    <div class="m-0 mat-subheading-1">{{ 'Profile.My_bets_view.Ongoing' | translate }}</div>
  </div>
  <ng-container *ngFor="let bet of ongoingBets">
    <mat-card class="mb-1 p-0">
      <mat-card-content class="p-1 mb-0" *ngFor="let selection of bet.selections">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-2">{{ selection.fixtureName }}</div>
          <div class="live-dot accent"></div>
        </div>
        <div class="mat-caption">{{ selection.scheduledAt }}</div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
          <span>
            <div class="mat-caption">{{ selection.marketName }}</div>
            <div class="mat-body-2">{{ selection.selectionName }}</div>
          </span>
          <div class="mat-body-2">{{ selection.price }}</div>
        </div>
      </mat-card-content>
      <div class="p-0 bt bet-card-footer">
        <div class="p-1">
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end" *ngIf="bet.selections.length > 1">
            <div class="mat-caption">{{ 'Profile.My_bets_view.Total_odds' | translate }}</div>
            <div class="mat-body-2">{{ bet.totalPrice }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
            <div class="mat-caption">
              <span *ngIf="bet.selections.length === 1">{{ 'Profile.My_bets_view.Single' | translate }}</span>
              <span *ngIf="bet.selections.length > 1">{{ 'Profile.My_bets_view.Combination' | translate }}</span> {{ 'Profile.My_bets_view.Bet' | translate }}
            </div>
            <div class="mat-body-1">{{ bet.betAmount }} {{ bet.currency }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
            <div class="mat-caption">{{ 'Profile.My_bets_view.Potential_win' | translate }}</div>
            <div class="mat-body-2">{{ bet.potentialWin }} {{ bet.currency }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between end">
            <div class="mat-caption">{{ 'Profile.My_bets_view.Placed_at' | translate }}</div>
            <div class="mat-body-1">{{ bet.betDate }}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </ng-container>
  <div class="mat-caption mb-1 text-align-center" *ngIf="ongoingBets.length === 0">
    {{ 'Profile.My_bets_view.No_ongoing_bets' | translate }}
  </div>
</ng-container>

<ng-container *ngIf="showCompleted">
  <div class="ml-1 mb-1" fxLayout="row nowrap" fxLayoutAlign="start center">
    <mat-icon class="mr-1">history</mat-icon>
    <div class="m-0 mat-subheading-1">{{ 'Profile.My_bets_view.Completed' | translate }}</div>
  </div>
  <!-- The sport bet history card below is only a demo -->
  <mat-card class="mb-1 p-0">
    <div class="bb p-1" fxLayout="row nowrap" fxLayoutAlign="space-between start">
      <span fxLayout="row nowrap" fxLayoutAlign="start start">
        <mat-icon class="muted-text-icon mr-05">sports_soccer</mat-icon>
        <span class="mat-body-2" *ngIf="true">{{ 'Profile.My_bets_view.Single' | translate }}</span> <!-- Will show if the number of selections is equal to 1 -->
        <span class="mat-body-2" *ngIf="false">{{ 'Profile.My_bets_view.Combination' | translate }}</span> <!-- Will show if the number of selections is greater than 1 -->
      </span>
      <mat-icon *ngIf="false">sentiment_very_dissatisfied</mat-icon>
      <mat-icon *ngIf="true">sentiment_very_satisfied</mat-icon>
    </div>
    <mat-card-content class="p-1 mb-0">
      <div class="mat-caption">
        Full-time-winner <!-- MarketName -->
      </div>
      <ng-container> <!-- This div will loop all selections -->
        <div class="mb-05">
          <div class="mat-body-2">Liverpool - Tootenham</div> <!-- fixtureName -->
          <div class="mat-caption">Nov 25, 2020, 08:39:47</div> <!-- fixtureEndTime or what it will be called when the win or loss when it is final -->
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.My_bets_view.Bet_on' | translate }}
          </div>
          <div class="mat-body-2">
            Liverpool
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.My_bets_view.Odds' | translate }}
          </div>
          <div class="mat-body-2">
            2.05
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.My_bets_view.Result' | translate }}
          </div>
          <div class="mat-body-2">
            <mat-icon *ngIf="true" class="success-text-icon">check_circle</mat-icon> <!-- Will show if the selection is equal to the result -->
            <mat-icon *ngIf="false" color="warn">cancel</mat-icon> <!-- Will show if the selection is not equal to the result -->
          </div>
        </div>
      </ng-container>
    </mat-card-content>
    <div class="p-0 bt bet-card-footer">
      <div class="p-1">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.My_bets_view.Total_odds' | translate }}
          </div>
          <div class="mat-body-2">
            2.05 <!-- odds -->
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.My_bets_view.Bet' | translate }}
          </div>
          <div class="mat-body-2">
            100 DKK <!-- betAmount and currency-->
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.My_bets_view.Won' | translate }}
          </div>
          <div class="mat-body-2">
            205 DKK <!-- Win and currency -->
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-container>


