<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div (click)="navigateToEvent()" class="market-bet-link" aria-label="Market bets" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="truncated-flex-item" fxLayout="row" fxLayoutAlign="start center">
    <div class="pr-1" fxLayout="column" fxLayoutAlign="center center">
      <div class="mat-caption" *ngIf="!market?.isLive">{{ fixture?.scheduledAt | date: 'HH:mm' }}</div>
      <div class="live-dot accent" *ngIf="market?.isLive"></div>
      <span class="mat-caption">+ {{ fixture?.markets ? getAmountBetableMarkets(fixture.markets) : '' }}</span>
    </div>
    <div class="truncated-flex-item">
      <div class="mb-0 mat-subheading-1 truncated-text" *ngFor="let participant of fixture.participants">{{ participant.participantName }}</div>
    </div>
  </div>
  <div class="mb-05 ml-1" fxLayout="row" fxLayoutAlign="end center" fxFlex>
    <form [formGroup]="marketSelectionForm">
      <div class="mb-05 ml-1" fxLayout="row" fxLayoutAlign="end center" fxFlex>
        <mat-button-toggle-group formControlName="selection" multiple="true">
          <div fxLayout="column" fxLayoutAlign="start center" *ngFor="let selection of market?.selections">
            <div class="mat-body-2" *ngIf="selection.type === 4">
              {{ 1 }}
            </div>
            <div class="mat-body-2" *ngIf="selection.type === 3">
              {{ 'X' }}
            </div>
            <div class="mat-body-2" *ngIf="selection.type === 5">
              {{ 2 }}
            </div>
            <div class="mat-body-2" *ngIf="![3, 4, 5].includes(selection.type)">
              {{ selection?.selectionName }}
            </div>
            <mat-button-toggle [disabled]="selection.status !== 0" class="mr-05 ml-05 button-toggle" [class.pulse]="selection.isPriceUpdated" [value]="selection.selectionId" (click)="$event.stopPropagation()">{{ (selection.price | number: '1.2-2') || '-' }}</mat-button-toggle>
          </div>
        </mat-button-toggle-group>
      </div>
    </form>
  </div>
</div>


