<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="pb-1" *ngIf="progressLoader">
  <mat-progress-bar class="progress-on-top" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div *ngIf="!progressLoader" [@fadeIn] class="max-width-large-screens p-1">
  <div class="icon-top-navigation pt-1 pb-1" fxLayout="row nowrap" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let iconNavSport of iconNavSports">
      <button class="mr-1 ml-1 mat-elevation-z0" mat-fab aria-label="Sport icon button">
        <mat-icon svgIcon="{{ iconNavSport.icon }}"></mat-icon>
      </button>
      <div class="mat-caption text-center">{{ iconNavSport.navItemName }}</div>
    </div>
  </div>
  <mat-grid-list [cols]="isMobile || mobileQuery.matches ? '1' : '2'" gutterSize="16px">
    <mat-grid-tile
      *ngFor="let widget of widgets"
      [colspan]="widget.cols"
      [rowspan]="widget.rows"
      class="widget-grid-tile mat-elevation-z2">
      <app-sportsbook-sports-lobby-widget class="full-width-height" [widget]="widget"></app-sportsbook-sports-lobby-widget>
    </mat-grid-tile>
  </mat-grid-list>
</div>
