<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<ng-container *ngIf="loadingOffers">
  <div class="p-1" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner color="primary" diameter="40"></mat-spinner>
  </div>
</ng-container>
<ng-container *ngIf="!loadingOffers">
  <ng-container *ngIf="canVoidAll">
    <div class="m-1 p-1 info-area" fxLayout="column" fxLayoutAlign="center center">
      <div class="mat-caption">{{ 'Profile.Bonus_offer_view.Void_all_text' | translate }}</div>
      <div class="mt-1" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" class="mb-2" (click)="submitVoidBonus()">{{ 'Profile.Bonus_offer_view.Void_all' | translate }}</button>
      </div>
    </div>
    
    
  </ng-container>
  <div [@fadeIn]>
    <mat-card class="mb-1 p-0" *ngFor="let bonusOffer of bonusOffers">
      <div class="bb p-1" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="mat-body-2">{{ bonusOffer.name }}</div>
      </div>
      <mat-card-content class="p-1 mb-0">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.Bonus_offer_view.Amount_max_bonus' | translate }}
          </div>
          <div class="mat-body-2">
            {{ bonusOffer.bonusAmount }} - {{ bonusOffer.bonusAmountMax }}
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.Bonus_offer_view.Wagering_required_wagered' | translate }}
          </div>
          <div class="mat-body-2">
            {{ bonusOffer.wageringReq }} / {{ bonusOffer.wagered }}
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            <span *ngIf="bonusOffer.state !== 'Expired'">{{ 'Profile.Expires' | translate }}</span>
            <span *ngIf="bonusOffer.state === 'Expired'">{{ 'Profile.Expired' | translate }}</span>
          </div>
          <div class="mat-body-2">
            <span *ngIf="bonusOffer.state !== 'Expired'">{{ bonusOffer.expires | date }}</span>
            <span *ngIf="bonusOffer.state === 'Expired'">{{ bonusOffer.expired | date }}</span>
          </div>
        </div>
        <div *ngIf="bonusOffer.state !== 'Pending'" fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.Bonus_offer_view.Activated' | translate }}
          </div>
          <div class="mat-body-2">
            {{ bonusOffer.activated | date }}
          </div>
        </div>
      </mat-card-content>
      <div class="p-1 bt" fxLayout="row nowrap" fxLayoutAlign="end center">
        <button mat-raised-button type="button" *ngIf="bonusOffer.state === 'Pending'" color="primary" (click)="claimBonusOffer(bonusOffer)">{{ 'Profile.Bonus_offer_view.Claim' | translate }}</button>
        <button mat-raised-button type="button" *ngIf="bonusOffer.state === 'Active' || bonusOffer.state === 'Wagering'"  color="warn" (click)="voidBonusOffer(bonusOffer)">{{ 'Profile.Bonus_offer_view.Void' | translate }}</button>
        <mat-chip-list aria-label="Offer state" *ngIf="bonusOffer.state === 'Expired' || bonusOffer.state === 'Voided'">
          <mat-chip class="m-0" *ngIf="bonusOffer.state === 'Expired'" color="accent" selected>{{ bonusOffer.state }}</mat-chip>
          <mat-chip class="m-0" *ngIf="bonusOffer.state === 'Voided'" color="warn" selected>{{ bonusOffer.state }}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card>
  </div>
</ng-container>