<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<form [formGroup]="depositLimits">
  <div class="modal-header">
    <h3 class="modal-title">{{ 'Limits.Set_deposit_limit' | translate }}</h3>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="alert alert-primary" role="alert">
        * {{ 'Limits.Requirement_text' | translate }}
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>{{ 'Limits.Single' | translate }}</label>
            <input formControlName="single" type="number" (keypress)="numericOnly($event)" class="form-control" aria-describedby="Set single deposit limit" placeholder="Set single deposit limit">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>{{ 'Limits.Daily' | translate }} *</label>
            <input formControlName="day" type="number" (keypress)="numericOnly($event)" class="form-control" aria-describedby="Set daily deposit limit" placeholder="Set daily deposit limit">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>{{ 'Limits.Weekly' | translate }} *</label>
            <input formControlName="week" type="number" (keypress)="numericOnly($event)" class="form-control" aria-describedby="Set weekly deposit limit" placeholder="Set weekly deposit limit">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>{{ 'Limits.Monthly' | translate }} *</label>
            <input formControlName="month" type="number" (keypress)="numericOnly($event)" class="form-control" aria-describedby="Set monthly deposit limit" placeholder="Set monthly deposit limit">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn ch-orange" type="submit" [disabled]="!enableSaveButton" (click)="submitDepositLimits()">{{ 'Limits.Save_deposit_limits' | translate }}</button>
  </div>
</form>
