<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container" [class.is-mobile]="isMobile || isTablet || mobileQuery.matches">
  <mat-drawer-container class="app-container">
    <mat-drawer class="main-drawer" role="navigation" mode="over" #mainMenuDrawer position="start">
      <div class="contents">
        <app-shared-main-menu></app-shared-main-menu>
      </div>
    </mat-drawer>

    <mat-drawer class="account-drawer" [ngClass]="{'vw-100': isMobile}" role="region" mode="over" #accountDrawer position="end">
      <div class="contents">
        <app-shared-account [accountDrawer]="accountDrawer"></app-shared-account>
      </div>
    </mat-drawer>
    
    <mat-drawer-content>
      <ngx-smart-modal #depositLimits [dismissable]="false" [autostart]="currentPlayer && !currentPlayer.protection_limit_set" [closable]="false" identifier="depositLimits" *ngIf="currentPlayer && !currentPlayer.protection_limit_set">
        <app-modal-deposit-limits></app-modal-deposit-limits>
      </ngx-smart-modal>
      <div class="main header">
        <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
        <mat-toolbar color="primary" class="app-top-toolbar mat-elevation-z4">
          <mat-toolbar-row>
            <app-shared-header [mainMenuDrawer]="mainMenuDrawer" [accountDrawer]="accountDrawer"></app-shared-header>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <app-casino-context-menu class="full-width"></app-casino-context-menu>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div class="main casino-contents">
        <router-outlet></router-outlet>
      </div>
      <footer class="md-padding">
        <app-shared-footer></app-shared-footer>
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-reality-check *ngIf="configService.config.realityCheck.enabled"></app-reality-check>
  <app-site-terms></app-site-terms>
</div>
