.page {
  padding-top: 164px;
  display: flex;
  flex-direction: column;
  min-height:100vh;

  > div.wrap-content {
    flex: 1;
    display: flex;
    flex-direction: column;

  }
}

@media (max-width: 575px) {
  .page {
    padding-top: 100px;
  }
}
