<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<ngx-smart-modal #confirmation [dismissable]="false" [closable]="false" [escapable]="false" identifier="confirmation">
  <ng-container *ngIf="confirmation.hasData()">
    <div class="modal-header">
      <h4 class="modal-title">{{ confirmation.getData().title }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ confirmation.getData().description }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="confirmation.close()">{{ 'General.Cancel' | translate }}</button>
      <button type="button" class="btn btn-success" (click)="confirm()">{{ confirmation.getData().buttonActionName }}</button>
    </div>
  </ng-container>
</ngx-smart-modal>
