<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="app-view-container">
  <mat-drawer-container class="app-container">
    <mat-drawer-content>
      <div class="main header">
        <app-shared-compliance-toolbar-dk></app-shared-compliance-toolbar-dk>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" class="app-top-toolbar mat-elevation-z4">
          <img class="portal-logo" src="../../assets/images/company_logo.svg" alt="Company logo">
        </mat-toolbar>
      </div>
      <div class="main contents">
        <div class="max-width-large-screens p-1">
          <mat-card class="p-1">
            <mat-card-content class="p-1 info-area">
              <div class="mat-display-3 text-align-center">
                {{ 'Not_found.Oops' | translate }}
              </div>
              <div class="mat-headline text-align-center">
                {{ 'Not_found.Not_found_text' | translate }}
              </div>
            </mat-card-content>
            <mat-card-actions class="pb-1" fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button color="accent" routerLink="/en/casino">{{ 'Not_found.To_Casino' | translate }}</button>
              <button mat-raised-button color="accent" routerLink="/en/sportsbook">{{ 'Not_found.To_Sportsbook' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
