<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<cdk-virtual-scroll-viewport #scroller itemSize="129" class="cdk-scrolling-content">
  <ng-container *cdkVirtualFor="let item of orders; let i = index">
    <div class="ml-1 mat-subheading-1" *ngIf="orders[i-1] === undefined || item.startDate.isBefore(orders[i-1].startDate, 'day')">
      {{ item.startDate | date:'MMM d, y' }}
    </div>
  <mat-card class="mb-1 p-0">
    <div class="bb p-1" fxLayout="row nowrap" fxLayoutAlign="space-between start">
      <div class="mat-body-2">{{ item.provider }} <span *ngIf="item.amount > 0">{{ 'Orders.Deposit' | translate }}</span> <span *ngIf="item.amount < 0">{{ 'Orders.Withdrawal' | translate }}</span></div>
      <div class="mat-caption">{{ item.state }}</div>
    </div>
    <mat-card-content class="p-1 mb-0">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <div class="mat-body-1">
          {{ item.startDate | date:'MMM d, y, HH:mm:ss':'+0000' }}
        </div>
        <div class="mat-body-2">
          {{ item.amount | number: '.2' }} {{ item.currency }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  </ng-container>
  <div class="cdk-scrolling-spinner-item">
    <mat-progress-spinner *ngIf="loading" color="primary" [mode]="'indeterminate'" [diameter]="40"></mat-progress-spinner>
  </div>
</cdk-virtual-scroll-viewport>
