<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<mat-toolbar class="betslip-toolbar-border" color="primary" fxLayout="row nowrap" fxLayoutAlign="space-between center">
  <span>{{ 'Betslip.Bets' | translate }} ({{ betslipService.betslip.length }})</span>
  <button *ngIf="betslipOpen" mat-icon-button (click)="toggleBetslip()"><mat-icon>expand_more</mat-icon></button>
  <button *ngIf="!betslipOpen" mat-icon-button (click)="toggleBetslip()"><mat-icon>expand_less</mat-icon></button>
</mat-toolbar>
<ng-container *ngIf="betslipOpen">
  <mat-tab-group dynamicHeight>
    <mat-tab label="{{ 'Betslip.Single' | translate }}">
      <div fxLayout="row nowrap" fxLayoutAlign="end center">
        <button mat-button *ngIf="betslipService.betslip.length > 1" (click)="removeAll()">{{ 'Betslip.Remove_all' | translate }}</button>
      </div>
      <form [formGroup]="singleStakeForm">
        <div class="pb-1 pt-1 pr-05 pl-05" *ngFor="let item of betslipService.betslip">
          <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
            <div class="truncated-flex-item mr-1">
              <div class="mat-body-2 truncated-text">{{ item.selection.selectionName }}</div>
              <div class="mat-caption truncated-text">{{ item.market.marketName }}, {{ item.market.type.marketTypeName }}, {{ item.market.unitName }}</div>
              <div class="mat-caption truncated-text">{{ item.fixture.fixtureName }}</div>
            </div>
            <div fxLayout="row nowrap" fxLayoutAlign="end center">
              <ng-container *ngIf="!marketExpired">
                <ng-container *ngIf="item.selection.status === 0">
                  <div class="mat-body-1 pr-05 pl-05" [ngClass]="{'betslip-updated-odds': priceIsUpdated}">
                    {{ item.selection.price | number:'1.2-2' }}
                  </div>
                  <mat-form-field class="ml-1 small-input" appearance="fill">
                    <input class="text-right" formControlName="singleStake" matInput placeholder="0.00">
                    <mat-error *ngIf="stakeToHigh">{{ 'Betslip.To_high' | translate }}</mat-error>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="item.selection.status !== 0">
                  <div class="mat-body-1 pr-05 pl-05 betslip-updated-odds">
                    <span *ngIf="item.selection.status === 4">{{ 'Betslip.Cancelled' | translate }}</span>
                    <span *ngIf="item.selection.status === 4">{{ 'Betslip.Resulted' | translate }}</span>
                    <span *ngIf="item.selection.status === 3">{{ 'Betslip.Removed' | translate }}</span>
                    <span *ngIf="item.selection.status === 2">{{ 'Betslip.Suspended' | translate }}</span>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="marketExpired">
                <span class="mat-body-1 pr-05 pl-05 betslip-updated-odds">{{ 'Betslip.Market_has_expired' | translate }}</span>
              </ng-container>
              <button mat-icon-button class="ml-05" (click)="removeSelection(item)"><mat-icon>clear</mat-icon></button>
            </div>
          </div>
        </div>
      </form>
      <div class="betslip-summary bt pt-05 pb-05 pl-1 pr-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <div class="mat-body-2">{{ 'Betslip.Total_stake' | translate }}</div>
        <div class="mat-body-1">0.00</div>
      </div>
      <div class="betslip-footer p-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <div>
          <div class="mat-caption strong">
            {{ 'Betslip.Potential_payout' | translate }}
          </div>
          <div class="mat-body-2">
            0.00
          </div>
        </div>
        <ng-container *ngIf="currentUser">
          <button *ngIf="!priceIsUpdated" (click)="placeSingleBet()" [disabled]="this.singleStakeForm.invalid" mat-raised-button color="accent">{{ 'Betslip.Place_bet' | translate }}</button>
          <button *ngIf="priceIsUpdated" (click)="acceptNewOdds()" mat-raised-button color="warn">{{ 'Betslip.Accept_new_updated_odds' | translate }}</button>
        </ng-container>
        <ng-container *ngIf="!currentUser">
          <button (click)="openLoginDialog()" mat-raised-button color="warn">{{ 'Betslip.Login_to_place_bet' | translate }}</button>
        </ng-container>
      </div>
    </mat-tab>

    <mat-tab [disabled]="betslipService.betslip.length < 2" label="{{ 'Betslip.Combined' | translate }}">
      <div fxLayout="row nowrap" fxLayoutAlign="end center">
        <button mat-button *ngIf="betslipService.betslip.length > 1" (click)="removeAll()">{{ 'Betslip.Remove_all' | translate }}</button>
      </div>
      <div class="p-1" *ngFor="let item of betslipService.betslip" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <div>
            <div class="mat-body-2 truncated-text">{{ item.selection.selectionName }}</div>
            <div class="mat-caption truncated-text">{{ item.market.marketName }}, {{ item.market.type.marketTypeName }}, {{ item.market.unitName }}</div>
            <div class="mat-caption truncated-text">{{ item.fixture.fixtureName }}</div>
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <ng-container *ngIf="!marketExpired">
            <div class="mat-body-1 pr-05 pl-05" [ngClass]="{'betslip-updated-odds': priceIsUpdated}" *ngIf="item.market.accRestriction === 2 || item.market.accRestriction === 1">
              {{ item.selection.price | number:'1.2-2' }}
            </div>
            <div class="mat-body-1 pr-05 pl-05 betslip-updated-odds" *ngIf="item.market.accRestriction === 0">
              <span *ngIf="item.selection.status === 4">{{ 'Betslip.Not_allowed_to_combine' | translate }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="marketExpired">
            <span class="mat-body-1 pr-05 pl-05 betslip-updated-odds">{{ 'Betslip.Market_has_expired' | translate }}</span>
          </ng-container>
          <button mat-icon-button class="ml-05" (click)="removeSelection(item)"><mat-icon>clear</mat-icon></button>
        </div>
      </div>
      <div class="betslip-summary bt pt-05 pl-1 pr-1">
        <form [formGroup]="combinedStakeForm">
          <div class="mb-05" fxLayout="row nowrap" fxLayoutAlign="space-between center">
            <div class="mat-body-2">{{ 'Betslip.Total_odds' | translate }}</div>
            <div class="mat-body-1 pl-05 pr-05">{{ this.totalOdds | number:'1.2-2' }}</div>
          </div>
          <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
            <div class="mat-body-2">{{ 'Betslip.Stake' | translate }}</div>
            <mat-form-field class="ml-1 small-input" appearance="fill">
              <input type="number" formControlName="combinedStake" class="text-right" matInput required placeholder="0.00">
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="betslip-footer p-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <div>
          <div class="mat-caption strong">
            {{ 'Betslip.Potential_payout' | translate }}
          </div>
          <div class="mat-body-2">
            {{ potentialPayout | number:'1.2-2' }}
          </div>
        </div>
        <ng-container *ngIf="currentUser">
          <button *ngIf="!priceIsUpdated" (click)="placeCombinedBet()" [disabled]="this.combinedStakeForm.invalid" disabled mat-raised-button color="accent">{{ 'Betslip.Place_bet' | translate }}</button>
          <button *ngIf="priceIsUpdated" (click)="acceptNewOdds()" mat-raised-button color="warn">{{ 'Betslip.Accept_new_updated_odds' | translate }}</button>
        </ng-container>
        <ng-container *ngIf="!currentUser">
          <button (click)="openLoginDialog()" mat-raised-button color="warn">{{ 'Betslip.Login_to_place_bet' | translate }}</button>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>

