// Copyright 2021 Bejoynd AB, Licensed under Apache-2.0
/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #eee;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#f5f5f5, 0.04);
$light-bg-alpha-12:   rgba(#f5f5f5, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config
body {
  --primary-color: #09508d;
  --primary-lighter-color: #EDF4FC;
  --primary-darker-color: #053770;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #09508d,
  lighter: #EDF4FC,
  darker: #053770,
  200: #09508d, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #fdd835;
  --accent-lighter-color: #fef3c2;
  --accent-darker-color: #fcc822;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #fdd835,
  lighter: #fef3c2,
  darker: #fcc822,
  200: #fdd835, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #d60000;
  --warn-lighter-color: #f3b3b3;
  --warn-darker-color: #c60000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #d60000,
  lighter: #f3b3b3,
  darker: #c60000,
  200: #d60000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$portal-success: (
  500: #46844B,
  contrast: (
    500: #ffffff,
  )
);

$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

footer {
  background: map-get($mat-primary, darker );

  a, a:link, a:visited, a:hover {
    display: block;
    color: $light-text !important;
    text-decoration: none;
    cursor: pointer;
  }

  a.footer-menu-item {
    &:hover {
      background: map-get($mat-primary, main) !important;
    }
  }

  .legal-text {
    color: $light-text;
    opacity:0.3;
  }
}

// Specific component overrides, pieces that are not in line with the general theming

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.accent-bg {
  background: map-get($mat-accent, main);
}

.muted-text-icon {
  color: $dark-accent-text;
}

.primary-bg {
  background: map-get($mat-primary, main);
  color: $light-text;
}

.info-area, .bet-card-footer {
  background: map-get($mat-primary, lighter);
}

.white-bg {
  background: $light-text;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';

  .mat-badge-content {
    font-family: 'Roboto';
  }
}

.mat-title {
  &.category-breadcrump-title {

    a, a:link, a:hover, a:visited {
      color: $dark-primary-text;
    }
  }
}

.betslip-summary {
  background: map-get($mat-primary, lighter);
}

.betslip-toolbar-border {
  border-top: 4px solid map-get($mat-accent, main)
}

.betslip-updated-odds {
  background: map-get($mat-warn, main);
  color: $light-text;
  border-radius: 4px;
}

.live-dot {
  border-radius: 50%;
  margin: 8px;
  height: 16px;
  width: 16px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  background: rgba(253, 216, 53, 1); // This rgba color is based on mat-accent main
  box-shadow: 0 0 0 0 rgba(253, 216, 53, 1);

  &.accent {
    background: rgba(253, 216, 53, 1);
    box-shadow: 0 0 0 0 rgba(253, 216, 53, 1);
    animation: pulse-accent 2s infinite;
  }
}

@keyframes pulse-accent {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(253, 216, 53, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(253, 216, 53, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(253, 216, 53, 0);
  }
}

.submenu {
  .submenu-item {
    background: $light-background;
    border-right:4px solid $light-background;
    &.active-list-item {
      border-right:4px solid map-get($mat-primary, main) !important
    }
  }
}

.fixture-counter {
  background: $light-background;
}

.date-list-divider {
  background: #DCEAF9;
}

.second-level-title {
  color: $dark-accent-text !important;
}

.mat-table, .mat-row {
  background: $light-text !important;
}

.mat-fab {
  background-color: transparent !important;
  border: 1px solid $dark-dividers !important;

  &:hover {
    background-color: map-get($mat-primary, lighter) !important;
  }
}

.widget-header-icon {
  background: map-get($mat-primary, main);
}

.mat-drawer {
  &.main-drawer {
    position: fixed;
    bottom: 0;

    .mat-drawer-inner-container{
      width: 280px;
      background: map-get($mat-primary, main);

      .mat-nav-list {
        .mat-list-item {
          color:$light-accent-text;
          border-bottom: 1px solid $light-bg-alpha-12 !important;

          &:hover {
            background: map-get($mat-primary, darker);
          }
        }
      }
    }

    .main-menu-top-toolbar {
      height: 164px;
    }
  }

  &.account-drawer {
    background: $light-background;
    position: fixed;
    bottom: 0;

    .mat-drawer-inner-container {
      width: 415px;
      padding-bottom: 80px;
    }

    &.vw-100 {
      .mat-drawer-inner-container {
        width: 100vw;
      }
    }
  }

  &.sports-drawer {

    .mat-drawer-inner-container {
      padding-bottom: 80px;
    }
  }

  &.mat-context-inner-drawer {
    position: fixed;
    top: 168px;

    .mat-drawer-inner-container{
      width: 260px;
    }
  }
}

.mat-list-item {
  border-bottom: 1px solid $dark-bg-alpha-12 !important;
}

.mat-tab-header-pagination-chevron {
  border-color: $light-accent-text;
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: $light-bg-darker-30;
}

.search-bar {
  background: map-get($mat-primary, darker);

  .sports-menu-toogle-block{
    background: map-get($mat-primary, main);
    color:$light-accent-text
  }

  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: map-get($mat-primary, lighten);
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: map-get($mat-primary, lighten);
    }

    &::-ms-input-placeholder { /* IE 10+ */
      color: map-get($mat-primary, lighten);
    }

    &::-moz-placeholder { /* Firefox 18- */
      color: map-get($mat-primary, lighten);
    }
  }

  .search-input {
    color: $light-accent-text
  }
}

nav.mat-tab-nav-bar {
  a[mat-tab-link] {
    color: $light-accent-text;

    &:hover {
      color: map-get($mat-accent, main);
      opacity: 1;
    }

    &.mat-tab-label-active {
      color: map-get($mat-accent, main);
      opacity: 1;
    }
  }
}

.compliance-toolbar {
  background: $light-text;
  color: $dark-text !important;

  a, a[link], a[visited], a[hover] {
    color: map-get($mat-primary, main) !important;
  }
}

.widget-grid-tile {
  background: $light-text;
}

.filter-toogle-buttons {
  .mat-button-toggle {
    border:none;
    border-radius: none !important;
    background-color: $light-bg-lighter-5 !important;
    color: $dark-text !important;
    line-height: 36px;
    font-weight: 400 !important;
    min-width:56px;
  
    &.mat-button-toggle-checked {
      background-color: map-get($mat-primary, main) !important;
      color: $light-text !important;
    }
  }
}

.mat-button-toggle {
  border:none !important;
  background-color: map-get($mat-primary, main) !important;
  color: $light-text !important;
  line-height: 36px;
  font-weight: 700 !important;
  min-width:56px;

  &.mat-button-toggle-checked {
    background-color: map-get($mat-accent, main) !important;
    color: $dark-text !important;
  }

  &.mat-button-toggle-disabled {
    color: $dark-disabled-text !important;
    background-color: $dark-bg-alpha-12 !important;
  }
}

.disabled-text {
  color: $dark-disabled-text;
}

.success-text-icon {
  color: map-get($portal-success, 500);
}

.bl {
  border-left:1px solid $dark-dividers;
}

.br {
  border-right:1px solid $dark-dividers;
}

.bt {
  border-top:1px solid $dark-dividers;
}

.bb{
  border-bottom:1px solid $dark-dividers;
}

.pulse {
  display: block;
  border-radius: 0%;
  background: red;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255,0,0, 0.4);
  animation: pulse 1s ease-in;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
      box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
      box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

.mat-expansion-panel-body {
  padding: 0 !important;

  .expanded-fixture-area {
    background:map-get($mat-primary, lighter);
  }
}
