<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<mat-vertical-stepper [linear]="true" #withdrawalStepper>
  <form (ngSubmit)="withdrawal()" [formGroup]="withdrawalForm">
    <mat-step>
      <ng-template matStepLabel>{{ 'Withdrawal.Select_payment' | translate }}</ng-template>
      <ng-container *ngIf="currentStep === 1">
        <div class="pt-1 pb-1 bb" *ngFor="let withdrawal of withdrawals">
          <button class="full-width mb-05" mat-raised-button matStepperNext (click)="selectMethod(withdrawal)">
            <img alt="Provider logo" src="{{ withdrawal.thumbnail }}" />
          </button>
          <div [innerHTML]="withdrawal.description" class="mat-caption text-align-center"></div>
        </div>
      </ng-container>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'Withdrawal.Amount' | translate }}</ng-template>
      <ng-container *ngIf="currentStep === 2">
        <mat-form-field class="mt-1 mb-1 full-width" appearance="outline">
          <mat-label>{{ 'Withdrawal.Amount' | translate }}</mat-label>
          <input matInput formControlName="amount" type="number" aria-describedby="Type in withdrawal amount">
          <mat-hint>
            {{ 'Withdrawal.Min' | translate }} {{ currentMethod.min }} - {{ 'Withdrawal.Max' | translate }} {{ currentMethod.max }} {{ user.currency }}
          </mat-hint>
        </mat-form-field>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <button type="button" mat-button matStepperPrevious (click)="handleStep(1)" type="button">{{ 'General.Previous' | translate }}</button>
          <button type="submit" mat-raised-button (click)="withdrawal()" color="accent" [disabled]="loading" type="button">{{ 'General.Withdraw' | translate }}</button> 
        </div>
      </ng-container>
    </mat-step>
  </form>
</mat-vertical-stepper>
