<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<mat-vertical-stepper [linear]="true" #depositStepper>
  <form (ngSubmit)="deposit()" [formGroup]="depositForm">
    <mat-step>
      <ng-template matStepLabel>{{ 'Deposit.Select_payment' | translate }}</ng-template>
      <ng-container *ngIf="currentStep === 1">
        <div class="pt-1 pb-1 bb" *ngFor="let deposit of deposits">
          <button class="full-width mb-05" mat-raised-button matStepperNext (click)="selectMethod(deposit)">
            <img alt="Provider logo" src="{{ deposit.thumbnail }}" />
          </button>
          <div [innerHTML]="deposit.description" class="mat-caption text-align-center"></div>
        </div>
      </ng-container>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'Deposit.Amount' | translate }}</ng-template>
      <ng-container *ngIf="currentStep === 2">
        <mat-form-field class="mt-1 mb-1 full-width" appearance="outline">
          <mat-label>{{ 'Deposit.Amount' | translate }}</mat-label>
          <input matInput formControlName="amount" type="number" [min]="currentMethod.min" [max]="currentMethod.max" aria-describedby="Type in deposit amount">
          <mat-hint>
            {{ 'Deposit.Min' | translate }} {{ currentMethod.min }} - {{ 'Deposit.Max' | translate }} {{ currentMethod.max }} {{ user.currency }}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="mb-1 full-width" appearance="outline">
          <mat-label>{{ 'Deposit.Bonus_code' | translate }}</mat-label>
          <input matInput formControlName="bonusCode" type="text" aria-describedby="Enter bonus code">
          <mat-error *ngIf="error">{{ error }}</mat-error>
        </mat-form-field>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <button type="button" mat-button matStepperPrevious (click)="handleStep(1)" type="button">{{ 'General.Previous' | translate }}</button>
          <button type="submit" mat-raised-button matStepperNext color="primary" [disabled]="loading || !depositForm.valid" type="button">{{ 'General.Next' | translate }}</button> 
        </div>
      </ng-container>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'Deposit.Transfer' | translate }}</ng-template>
      <div class="info-area mt-1 mb-1 p-1">
        <div class="mat-body-1">{{ 'Deposit.New_tab_text' | translate }}</div>
      </div>
      
      <div fxLayout="row nowrap" fxLayoutAlign="end center">
        <button type="submit" mat-raised-button (click)="deposit(); closeDeposit()" color="primary" [disabled]="loading" type="button">{{ 'Deposit.Transfer_money' | translate }} <mat-icon class="ml-1">open_in_new</mat-icon></button> 
      </div>
    </mat-step>
  </form>
</mat-vertical-stepper>
