<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="pb-1" *ngIf="progressLoader">
  <mat-progress-bar class="progress-on-top" mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div *ngIf="!progressLoader" [@fadeIn] class="max-width-large-screens pt-1 pb-1" [ngClass]="{ 'pl-1 pr-1' : isTablet || isDesktop, 'pl-0 pr-0' : isMobile || mobileQuery.matches }">
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <button mat-icon-button class="mr-1" (click)="navigateHome()"><mat-icon>arrow_back</mat-icon></button>
    <div class="mat-title first-letter-uppercase mb-0">{{ 'E-sport' }}</div>
  </div>
  <ng-template #matches>
    <div class="pt-1"  *ngIf="countryGroups.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel *ngFor="let countryGroup of countryGroups" [expanded]="false">
          <mat-expansion-panel-header class="mat-row">
            <mat-panel-title>
              {{ countryGroup.groupName }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="toolbar-spacer"></span>
              <div class="fixture-counter">{{ countryGroup.totalGroupMatchupCount }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
            <mat-expansion-panel *ngFor="let competition of countryGroup.competitions" [expanded]="false">
              <mat-expansion-panel-header class="mat-row" (click)="getFixtures()">
                <mat-panel-title class="second-level-title pl-05">
                  {{ competition.competitionName }}
                </mat-panel-title>
                <mat-panel-description>
                  <span class="toolbar-spacer"></span>
                  <div class="fixture-counter">{{ competition.matchupCount }}</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
              <div *ngIf="showFixtures" class="expanded-fixture-area">
                <div class="p-05 date-list-divider">
                  <span class="mat-caption">{{ 'Sportsbook.Today' | translate }}</span>
                </div>
                <div *ngFor="let fixture of competition.fixtures" class="p-05 match-item-lobby-widget bb" [@fadeIn]>
                  <app-sportsbook-category-shared-market-bet-item [fixture]="fixture"></app-sportsbook-category-shared-market-bet-item>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="pt-1" *ngIf="countryGroups.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <ng-template #liveMatches>
    <div class="pt-1" *ngIf="countryGroups.length > 0">
      <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
        <mat-expansion-panel *ngFor="let countryGroup of countryGroups" [expanded]="false">
          <mat-expansion-panel-header class="mat-row">
            <mat-panel-title>
              {{ countryGroup.groupName }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="toolbar-spacer"></span>
              <div class="fixture-counter">{{ countryGroup.totalGroupMatchupCount }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-accordion class="mat-table mat-elevation-z2" displayMode="flat" multi [@.disabled]="true">
            <mat-expansion-panel *ngFor="let competition of countryGroup.competitions" [expanded]="false">
              <mat-expansion-panel-header class="mat-row" (click)="getFixtures()">
                <mat-panel-title class="second-level-title pl-05">
                  {{ competition.competitionName }}
                </mat-panel-title>
                <mat-panel-description>
                  <span class="toolbar-spacer"></span>
                  <div class="fixture-counter">{{ competition.matchupCount }}</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
              <div *ngIf="showFixtures" class="expanded-fixture-area">
                <div class="p-05 date-list-divider">
                  <span class="mat-caption">{{ 'Sportsbook.Today' | translate }}</span>
                </div>
                <div *ngFor="let fixture of competition.fixtures" class="p-05 match-item-lobby-widget bb" [@fadeIn]>
                  <app-sportsbook-category-shared-market-bet-item [fixture]="fixture"></app-sportsbook-category-shared-market-bet-item>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="pt-1" *ngIf="countryGroups.length === 0">
      <div class="disabled-text" fxLayout="row wrap" fxLayoutAlign="center center" class="mt-2">{{ 'Sportsbook.Nothing_to_bet_on' | translate }}</div>
    </div>
  </ng-template>

  <mat-tab-group color="accent" dynamicHeight>
    <mat-tab label="{{ 'Sportsbook.Matches' | translate }}">
      <ng-container *ngTemplateOutlet="matches"></ng-container>
    </mat-tab>

    <mat-tab label="{{ 'Sportsbook.Live' | translate }}">
      <ng-container *ngTemplateOutlet="liveMatches"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
