<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<cdk-virtual-scroll-viewport #scroller itemSize="177" class="cdk-scrolling-content">
  <ng-container *cdkVirtualFor="let item of history; let i = index">
    <div class="ml-1 mat-subheading-1" *ngIf="history[i-1] === undefined || item.started.isBefore(history[i-1].started, 'day')">
      {{ item.started | date:'MMM d, y' }}
    </div>
    <mat-card class="mb-1 p-0">
      <div class="bb p-1" fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <span fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-icon class="muted-text-icon mr-05">casino</mat-icon>
          <div class="mat-body-2">{{ item.game }}</div>
        </span>
        <mat-icon *ngIf="item.won < item.bet">sentiment_very_dissatisfied</mat-icon>
        <mat-icon *ngIf="item.won >= item.bet">sentiment_very_satisfied</mat-icon>
      </div>
      <mat-card-content class="p-1 mb-0">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.Game_history_view.Time' | translate }}
          </div>
          <div class="mat-body-2">
            {{ item.finished | date:'MMM d, y, HH:mm:ss':'+0000' }}
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.Game_history_view.Bet' | translate }}
          </div>
          <div class="mat-body-2">
            {{ item.bet }}
          </div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">
            {{ 'Profile.Game_history_view.Won' | translate }}
          </div>
          <div class="mat-body-2">
            {{ item.won }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <div class="cdk-scrolling-spinner-item">
    <mat-progress-spinner *ngIf="loading" color="primary" [mode]="'indeterminate'" [diameter]="40"></mat-progress-spinner>
  </div>
</cdk-virtual-scroll-viewport>