@import '~src/styles/_variables';

.pay {
  padding: 60px 0;
  text-align: center;
  background-color: @bg-block;
  margin-top: 57px;
  span {
    display: block;
    font-size: 60px;
    color: #2b2b2b;
    font-weight: normal;
    line-height: 65px;
  }
  .cards {
    margin-top: 30px;
    a {
      display: inline-block;
      opacity: 0.6;
      position: relative;
      min-width: 80px;
      min-height: 50px;
      margin-right: 10px;
      border-radius: 3px;
      &:hover {
        opacity: 1;
      }
      img {
        width: 57px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
      }
      .qiwi {
        width: 83px;
      }
    }
  }
}
