<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div class="pay">
  <div class="container">
    <h3>Payments</h3>
    <div class="cards">
      <a
        *ngFor="let item of items"
        href="#"
        class="color-{{item.className}}">
        <img
          src="assets/images/payment-cards/{{item.image}}"
          alt={{item.title}}
        />
        <span class="none">{{item.title}}</span>
      </a>
    </div>
  </div>
</div>
