<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<ng-container *ngIf="accountHome">
  <mat-toolbar class="mat-elevation-z4" color="primary" fxLayout="row nowrap" fxLayoutAlign="space-between center">
    <div fxFlex class="truncated-text">{{ profile?.firstName }} {{ profile?.lastName }}</div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="pl-1">
        <mat-panel-title>
          {{ 'Profile.Account_balance' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="info-area p-1">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">{{ 'Profile.Total' | translate }}</div>
          <div class="mat-body-2">{{ currentPlayer?.total_balance | number: '.2' }} {{ currentPlayer?.currency }}</div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">- {{ 'Profile.Bonus_money' | translate }}</div>
          <div class="mat-body-2">{{ currentPlayer?.bonus_balance | number: '.2' }} {{ currentPlayer?.currency }}</div>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div class="mat-body-1">= {{ 'Profile.Withdrawable' | translate }}</div>
          <div class="mat-body-2">{{ currentPlayer?.withdrawable_balance | number: '.2' }} {{ currentPlayer?.currency }}</div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>  
  <button mat-raised-button color="accent" [disabled]="deposits.length === 0" (click)="showDeposit()" class="mt-1 mb-1 pt-05 pb-05 full-width">{{ 'Profile.Deposit' | translate }}</button>
  <mat-nav-list class="white-bg">
    <mat-list-item class="bt">
      <span class="full-width" (click)="showMyBets()">{{ 'Sportsbook.My_bets' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showWithdrawal()">
      <span class="full-width">{{ 'Profile.Withdraw' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showBonusOffers()">
      <span class="full-width">{{ 'Profile.Bonus_offers' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showTransactions()">
      <span class="full-width">{{ 'Profile.Transactions' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showGameHistory()">
      <span class="full-width">{{ 'Profile.Game_history' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showPlayerLimits()">
      <span class="full-width">{{ 'Profile.Player_limits' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showSelfExclude()">
      <span class="full-width">{{ 'Profile.Self_exclude' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item (click)="showPlayerProfile()">
      <span class="full-width">{{ 'Profile.Player_profile' | translate }}</span>
      <mat-icon class="menu-button">arrow_right</mat-icon>
    </mat-list-item>
    <mat-list-item class="info-area" (click)="logout()">
      <span class="full-width">{{ 'Profile.Log_out' | translate }}</span>
    </mat-list-item>
  </mat-nav-list>
</ng-container>

<ng-container *ngIf="myBetsView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.My_bets' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-shared-account-my-bets></app-shared-account-my-bets>
</ng-container>

<ng-container *ngIf="depositView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Deposit' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-account-shared-deposit [navigateBackToAccountHome]="navigateBack"></app-account-shared-deposit>
</ng-container>

<ng-container *ngIf="withdrawalView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Withdrawal' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-account-shared-withdrawal [navigateBackToAccountHome]="navigateBack"></app-account-shared-withdrawal>
</ng-container>

<ng-container *ngIf="bonusOffersView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Bonus_offers' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-shared-account-bonus-offers></app-shared-account-bonus-offers>
</ng-container>

<ng-container *ngIf="transactionsView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Transactions' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-shared-account-orders></app-shared-account-orders>
</ng-container>

<ng-container *ngIf="gameHistoryView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Game_history' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-shared-account-game-history></app-shared-account-game-history>
</ng-container>

<ng-container *ngIf="selfExcludeView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Self_exclude' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-shared-account-self-exclude></app-shared-account-self-exclude>
</ng-container>

<ng-container *ngIf="playerLimitsView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Player_limits' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="info-area p-1" role="alert">
    <div class="mat-caption mb-05">{{ 'Profile.Deposit_limits_view.Deposit_limits_text1' | translate }}</div>
    <div class="mat-caption">{{ 'Profile.Deposit_limits_view.Deposit_limits_text2' | translate }}</div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Profile.Deposit_limits' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-shared-account-deposit-limits></app-shared-account-deposit-limits>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Profile.Loss_limits' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-shared-account-loss-limits></app-shared-account-loss-limits>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Profile.Transfer_limits' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-shared-account-transfer-limits></app-shared-account-transfer-limits>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Profile.Max_session_time' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-shared-account-max-session-time></app-shared-account-max-session-time>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

<ng-container *ngIf="playerProfileView">
  <mat-toolbar class="mat-elevation-z4 sticky-toolbar mb-1" color="primary">
    <button mat-icon-button aria-label="Back to account" (click)="navigateBackToAccountHome()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mb-0 ml-1">{{ 'Profile.Player_profile' | translate }}</span>
    <div fxFlex></div>
    <button mat-icon-button (click)="accountDrawer.toggle()" aria-label="Close Account drawer">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card class="mb-1 p-0">
    <div class="bb p-1" fxLayout="row nowrap" fxLayoutAlign="space-between start">
      <span fxLayout="column" fxLayoutAlign="start start">
        <div class="mat-caption">{{ 'Profile.Logged_in_as' | translate }}</div>
        <div class="mat-title m-0">{{ profile?.nickname }}</div>
      </span>
    </div>
    <mat-card-content class="p-1 mb-0">
      <div class="mb-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <mat-icon>person</mat-icon>
        <div class="mat-body-2">{{ profile?.firstName }} {{ profile?.lastName }}</div>
      </div>
      <div class="mb-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <mat-icon>place</mat-icon>
        <div class="mat-body-2 text-align-right">
          {{ profile?.address1 }}<br />
          {{ profile?.zip }} {{ profile?.city }}
        </div>
      </div>
      <div class="mb-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <mat-icon>local_phone</mat-icon>
        <div class="mat-body-2 text-align-right">
          <p>{{ profile?.phone || '-' }}</p>
        </div>
      </div>
      <div class="mb-1" fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <mat-icon>mail</mat-icon>
        <div class="mat-body-2 text-align-right">
          <p>{{ profile?.email || '-' }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-shared-modal-request-password-change [currentPlayer]="currentPlayer"></app-shared-modal-request-password-change>
</ng-container>
