<!-- Copyright 2021 Bejoynd AB, Licensed under Apache-2.0 -->
<div *ngIf="(itemsSlider.length && windowWidth > 992) || items.length">
  <app-block-caption
    title={{title}}
    [handleClick]="setActiveAllTiles.bind(this)"
    [isShowButton]="getShowButtonBlockCaption()"
    [id]="code"
  ></app-block-caption>
  <div class="games">
    <div class="row new">
      <div class="col second">
        <app-slider-tiles
          *ngIf="isActiveSliderTiles && !isActiveAllTiles; else listTiles"
          [items]="items"
          [isActiveSlider]="isActiveSlider()"
          [handleClick]="handleClick"
        ></app-slider-tiles>
        <ng-template #listTiles>
          <div  class="row row--tiles">
            <div [ngClass]="{'col': true, 'tile--item': true, 'tile--item-slider': isActiveSlider()}" *ngFor="let item of getItems()">
              <app-game-launcher-buttons [data]="item"></app-game-launcher-buttons>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="isActiveAllTiles && isActiveSlider()" class="row row--tiles">
      <div class="col tile--item" *ngFor="let item of items.slice(7)">
        <app-game-launcher-buttons [data]="item"></app-game-launcher-buttons>
      </div>
    </div>
  </div>
  <div class="block-footer" *ngIf="getShowButtonBlockCaption()">
    <button (click)="setActiveAllTiles()" class="btn btn-blue btn-sm">{{ 'local.all' | translate }} {{title}}</button>
  </div>
</div>
