.col-with-big-picture {
  flex: 0 0 40%;
  width: 40%;
}

.second {
  width: 60%;
}

.games {
  text-align: center;
  margin-top: 26px;

  .wrapper .new .second .row > div[class^='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrapper .new .second .item {
    min-height: 181px;
  }

  .new > div[class^=col-] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .second {
    .item {
      padding-left: 20px;
      padding-right: 20px;
      min-height: 181px;
    }
  }
}

.tile--item {
  width: 20%;
  max-width: 20%;
  flex-basis: 20%;
}

.tile--item-slider {
  width: 33.333%;
  max-width: 33.333%;
  flex-basis: 33.333%;
}

.block-footer {
  display: none;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .games {
    padding: 0 3px;

    .new  > div[class^='col-'] {
      padding-left: 12px;
      padding-right: 12px;
    }

    .second {
      .item {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
}

@media (max-width: 991px) {
  .block-footer {
    display: block;
  }

  .col-with-big-picture {
    display: none;
  }

  .tile--item {
    width: 33.333%;
    max-width: 33.333%;
    flex-basis: 33.333%;
  }

  .games {
    margin-top: 0;
    padding: 0;

    .new {
      -webkit-box-flex: unset;
      -ms-flex: unset;
      flex: unset;
      display: inline-block;
      -ms-flex-wrap: inherit;
      flex-wrap: inherit;
      width: 100%;
      margin: 0 auto 10px;

      .first {
        display: inline-block;
        min-height: 181px;
        width: 33%;
        -webkit-box-flex: unset;
        -ms-flex-positive: unset;
        flex-grow: unset;
        -ms-flex-preferred-size: unset;
        flex-basis: unset;
        -ms-flex: unset;
        flex: unset;
      }
    }

    .second {
      -webkit-box-flex: unset;
      -ms-flex-positive: unset;
      flex-grow: unset;
      -ms-flex-preferred-size: unset;
      flex-basis: unset;
      padding: 0;
      display: inline;

      .item {
        display: inline-block;
        width: 33%;

        &:last-child {
          display: none;
        }
      }
    }
  }
}




@media (max-width: 767px) {
  .tile--item {
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }

  .games {
    .new {
      .first {
        width: 49%;
      }
    }

    .second {
      .item {
        width: 49%;
      }
    }
  }
}



@media (max-width: 575px) {
  .games {
    .new {
      margin: 0 auto;
    }
  }

  .row--tiles {
    margin: 0 -5px;
  }
}

@media (max-width: 470px) {
  .games {
    .new {
      .first {
        min-height: 159px;
      }
    }

    .second {
      .item {
        min-height: 159px;
      }
    }
  }
}
